@charset "UTF-8";
/* mixin */
html body {
  margin: 0%;
  padding: 0%;
  background: linear-gradient(to bottom, #c4bcbb, #E4E4D9); }

/*header*/
.navContenedor {
  box-sizing: content-box;
  margin: auto;
  padding: 0px;
  background: linear-gradient(to bottom, #E4E4D9, #c4bcbb);
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  @media (max-width: 812px) and (min-width: 300px) {
    .navContenedor {
      width: 100%;
      height: 5rem;
      display: flex;
      flex-direction: column; } }
  .navContenedor__logo {
    margin-top: 0%;
    margin-left: 0%;
    width: 5rem;
    height: 5rem; }
  .navContenedor button {
    background-color: transparent;
    border: 0px;
    font-size: 35px;
    color: #4B5035;
    cursor: pointer; }
  .navContenedor__lista {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 15px;
    color: #4B5035;
    margin-top: auto;
    margin-bottom: auto; }
    .navContenedor__lista--item {
      margin: 10px;
      align-items: center; }
      @media (max-width: 812px) and (min-width: 300px) {
        .navContenedor__lista--item {
          margin: 0;
          padding: 1px; } }
      .navContenedor__lista--item i {
        margin-right: 10px;
        font-size: 25px; }
        @media (max-width: 576px) and (min-width: 300px) {
          .navContenedor__lista--item i {
            display: none; } }
        @media (max-width: 812px) and (min-width: 576px) {
          .navContenedor__lista--item i {
            font-size: 18px; } }
      .navContenedor__lista--item a {
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        padding-right: 10px;
        color: #4B5035; }
        @media (max-width: 576px) and (min-width: 300px) {
          .navContenedor__lista--item a {
            font-size: 11px;
            font-weight: bolder;
            align-items: center; } }
        @media (max-width: 812px) and (min-width: 576px) {
          .navContenedor__lista--item a {
            font-size: 15px; } }

/* Carrito */
.panel-carrito {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 998;
  background-color: #c4bcbbea;
  width: 25%;
  top: 0;
  bottom: 0;
  right: 0;
  transition: transform .3s ease;
  transform: translate(100%, 0);
  padding: 2vh; }
  .panel-carrito .carrito-btn {
    position: fixed;
    z-index: 1000;
    top: 3vh;
    right: 1vw;
    background: transparent;
    cursor: pointer;
    border: 1px solid #4B5035;
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 0.375rem 0.75rem; }
  .panel-carrito .panel-carrito-contenedor {
    overflow: auto;
    margin-top: 5.5vh;
    margin-bottom: 5.5vh; }
    .panel-carrito .panel-carrito-contenedor .productoItem {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: solid 1px #4B5035;
      border-radius: 0.25rem;
      width: 100%;
      padding: 1rem;
      margin: 2px; }
      .panel-carrito .panel-carrito-contenedor .productoItem .img-carrito {
        width: 5rem;
        height: 5rem;
        background-color: transparent;
        border: 1px solid #4B5035; }
      .panel-carrito .panel-carrito-contenedor .productoItem .aside-carrito {
        text-align: center; }
        .panel-carrito .panel-carrito-contenedor .productoItem .aside-carrito h2 {
          font-family: "Zen Loop", cursive;
          font-size: 3rem;
          color: #4B5035; }
        .panel-carrito .panel-carrito-contenedor .productoItem .aside-carrito span {
          font-family: Arial, Helvetica, sans-serif;
          color: #4B5035; }
      .panel-carrito .panel-carrito-contenedor .productoItem .div-productos-el {
        text-align: center; }
        .panel-carrito .panel-carrito-contenedor .productoItem .div-productos-el .p-carrito {
          font-family: "Zen Loop", cursive;
          font-size: 2rem;
          color: #4B5035;
          padding: 0%; }
        .panel-carrito .panel-carrito-contenedor .productoItem .div-productos-el .cantidadElement {
          background: transparent;
          border: solid 1px #4B5035;
          border-radius: 0.25rem;
          padding: 0.375rem 0.75rem;
          width: 5rem; }
        .panel-carrito .panel-carrito-contenedor .productoItem .div-productos-el .botonBorrar {
          background: transparent;
          border: solid 1px #4B5035;
          border-radius: 0.25rem;
          color: #4B5035;
          font-size: 1rem;
          padding: 0.375rem 0.75rem; }
  .panel-carrito .contenedor-precios .TotalSpan {
    position: fixed;
    z-index: 1000;
    bottom: 1vh;
    font-family: "Zen Loop", cursive;
    font-size: 2rem; }
  .panel-carrito .contenedor-precios .Precio-Total {
    position: fixed;
    z-index: 1000;
    bottom: 1vh;
    margin-left: 3.5rem;
    font-family: "Zen Loop", cursive;
    font-size: 2rem; }
  .panel-carrito .contenedor-precios .btnComprar {
    position: fixed;
    z-index: 1000;
    bottom: 3vh;
    right: 1vw;
    background: transparent;
    border: solid 1px #4B5035;
    border-radius: 0.25rem;
    color: #4B5035;
    font-size: 1rem;
    padding: 0.375rem 0.75rem; }

.panel-carrito.activo {
  transform: translate(0, 0); }

.alert {
  position: fixed;
  bottom: 1vh;
  background-color: #c4bcbb;
  border-color: #4B5035;
  width: 17rem;
  right: 50%;
  margin-right: -8.5rem;
  text-align: center; }
  .alert h3 {
    color: #4B5035;
    font-size: 1rem; }

.alert-primary {
  display: none; }

/* INDEX */
.divPrincipal {
  width: 80%;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../imagenes/Imagen-de-Pexels-en-Pixabay.png);
  background-size: cover;
  background-color: #504b4b;
  background-blend-mode: soft-light;
  box-sizing: border-box;
  border-bottom: solid 1px #4B5035;
  border-top: solid 1px #4B5035;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (max-width: 576px) and (min-width: 300px) {
    .divPrincipal {
      width: 100%;
      background-position: center; } }
  @media (max-width: 812px) and (min-width: 576px) {
    .divPrincipal {
      width: 100%;
      background-position: center;
      height: 400px; } }
  .divPrincipal div {
    text-align: center; }
    .divPrincipal div a {
      text-decoration: none; }
    .divPrincipal div .divPrincipal__title {
      color: #E4E4D9;
      font-family: "Great Vibes", cursive;
      font-size: 60px; }
      @media (max-width: 812px) and (min-width: 576px) {
        .divPrincipal div .divPrincipal__title {
          font-size: 50px; } }
    .divPrincipal div .nosotros__parrafo {
      font-family: "Zen Loop", cursive;
      font-size: 30px;
      color: #E4E4D9; }
      @media (max-width: 812px) and (min-width: 576px) {
        .divPrincipal div .nosotros__parrafo {
          font-size: 30px;
          margin-right: 30px;
          margin-left: 30px; } }

main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to bottom, #c4bcbb, #E4E4D9); }
  @media (max-width: 812px) and (min-width: 300px) {
    main {
      width: 100%; } }
  main .divContenedor {
    display: grid;
    grid-template-columns: repeat(2, 50% 50%);
    grid-template-rows: repeat(3, 650px);
    grid-template-areas: "articlev asidev"  "articlem asidem"  "articlec articlec"; }
    @media (max-width: 812px) and (min-width: 300px) {
      main .divContenedor {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(5, 400px);
        grid-template-areas: "velasAside velasAside" "imgVelas imgVelas" "asideMacetas asideMacetas" "imgMacetas imgMacetas" "cont cont"; } }
    main .divContenedor__velas--article {
      grid-area: articlev;
      height: 650px;
      background-image: url(../imagenes/velasindex.png);
      background-size: cover;
      box-sizing: border-box;
      border-bottom: solid 1px #4B5035; }
      @media (max-width: 812px) and (min-width: 300px) {
        main .divContenedor__velas--article {
          grid-area: imgVelas;
          height: 100%; } }
    main .divContenedor__velas--aside {
      grid-area: asidev;
      background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
      text-align: center;
      box-sizing: border-box;
      border-bottom: solid 1px #4B5035;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 650px; }
      @media (max-width: 812px) and (min-width: 300px) {
        main .divContenedor__velas--aside {
          grid-area: velasAside;
          height: 100%; } }
      main .divContenedor__velas--aside div {
        align-items: start;
        box-sizing: border-box;
        margin: 50px; }
        @media (max-width: 812px) and (min-width: 300px) {
          main .divContenedor__velas--aside div {
            margin: 5px; } }
        main .divContenedor__velas--aside div h2 {
          color: #4B5035;
          font-family: "Great Vibes", cursive;
          font-size: 60px; }
          @media (max-width: 576px) and (min-width: 300px) {
            main .divContenedor__velas--aside div h2 {
              font-size: 30px; } }
          @media (max-width: 812px) and (min-width: 576px) {
            main .divContenedor__velas--aside div h2 {
              font-size: 50px; } }
        main .divContenedor__velas--aside div p {
          font-family: "Zen Loop", cursive;
          font-weight: bold;
          color: #4B5035;
          font-size: 40px; }
          @media (max-width: 576px) and (min-width: 300px) {
            main .divContenedor__velas--aside div p {
              font-size: 20px; } }
          @media (max-width: 812px) and (min-width: 576px) {
            main .divContenedor__velas--aside div p {
              font-size: 25px;
              margin-right: 30px;
              margin-left: 30px; } }
        main .divContenedor__velas--aside div a {
          font-family: Arial, Helvetica, sans-serif;
          color: #4B5035;
          font-size: 30px; }
          @media (max-width: 812px) and (min-width: 300px) {
            main .divContenedor__velas--aside div a {
              font-size: 15px; } }
    main .divContenedor__macetas--article {
      grid-area: asidem;
      background-image: url(../imagenes/macetas.png);
      background-size: cover;
      background-position: right;
      box-sizing: border-box;
      border-bottom: solid 1px #4B5035; }
      @media (max-width: 576px) and (min-width: 300px) {
        main .divContenedor__macetas--article {
          grid-area: imgMacetas;
          border-top: solid 1px #4B5035;
          border-bottom: solid 1px #4B5035; } }
      @media (max-width: 812px) and (min-width: 576px) {
        main .divContenedor__macetas--article {
          grid-area: imgMacetas;
          border-top: solid 1px #4B5035;
          border-bottom: solid 1px #4B5035; } }
    main .divContenedor__macetas--aside {
      grid-area: articlem;
      background: linear-gradient(to bottom, #E4E4D9, #c4bcbb);
      text-align: center;
      box-sizing: border-box;
      border-bottom: solid 1px #4B5035;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 650px; }
      @media (max-width: 812px) and (min-width: 300px) {
        main .divContenedor__macetas--aside {
          grid-area: asideMacetas;
          height: 100%; } }
      main .divContenedor__macetas--aside div {
        align-items: start;
        box-sizing: border-box;
        margin: 50px; }
        main .divContenedor__macetas--aside div h2 {
          color: #4B5035;
          font-family: "Great Vibes", cursive;
          font-size: 60px; }
          @media (max-width: 576px) and (min-width: 300px) {
            main .divContenedor__macetas--aside div h2 {
              font-size: 30px; } }
          @media (max-width: 812px) and (min-width: 576px) {
            main .divContenedor__macetas--aside div h2 {
              font-size: 50px; } }
        main .divContenedor__macetas--aside div p {
          font-family: "Zen Loop", cursive;
          font-weight: bold;
          color: #4B5035;
          font-size: 40px; }
          @media (max-width: 576px) and (min-width: 300px) {
            main .divContenedor__macetas--aside div p {
              font-size: 20px; } }
          @media (max-width: 812px) and (min-width: 576px) {
            main .divContenedor__macetas--aside div p {
              font-size: 30px;
              margin-right: 30px;
              margin-left: 30px; } }
        main .divContenedor__macetas--aside div a {
          font-family: Arial, Helvetica, sans-serif;
          color: #4B5035;
          font-size: 30px; }
          @media (max-width: 576px) and (min-width: 300px) {
            main .divContenedor__macetas--aside div a {
              font-size: 15px; } }
          @media (max-width: 812px) and (min-width: 576px) {
            main .divContenedor__macetas--aside div a {
              font-size: 15px; } }
    main .divContenedor__contacto--article {
      grid-area: articlec;
      height: 650px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      background: linear-gradient(to bottom, #c4bcbb, #E4E4D9); }
      @media (max-width: 812px) and (min-width: 300px) {
        main .divContenedor__contacto--article {
          grid-area: cont;
          height: 100%; } }
      main .divContenedor__contacto--article--div {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        height: 85%;
        box-sizing: border-box;
        border: solid 5px #ffff;
        background-color: #b0b3a3;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "formulario formulario"; }
      main .divContenedor__contacto--article--div:hover {
        transform: scale(110%, 110%);
        transition: 2.3s; }
      main .divContenedor__contacto--article .gridItem2 {
        grid-area: formulario;
        align-self: center;
        justify-self: center;
        margin: 3vh;
        width: 95%;
        height: 90%;
        border: none; }
        main .divContenedor__contacto--article .gridItem2 .gridItem__2--form {
          display: flex;
          flex-direction: column;
          align-items: center; }
          main .divContenedor__contacto--article .gridItem2 .gridItem__2--form legend {
            font-size: 40px;
            font-family: "Zen Loop", cursive;
            color: #ffff; }
            @media (max-width: 576px) and (min-width: 300px) {
              main .divContenedor__contacto--article .gridItem2 .gridItem__2--form legend {
                font-size: 20px; } }
            @media (max-width: 812px) and (min-width: 576px) {
              main .divContenedor__contacto--article .gridItem2 .gridItem__2--form legend {
                font-size: 30px; } }
          main .divContenedor__contacto--article .gridItem2 .gridItem__2--form label {
            font-size: 20px;
            font-family: "Zen Loop", cursive;
            color: #ffff; }
            @media (max-width: 576px) and (min-width: 300px) {
              main .divContenedor__contacto--article .gridItem2 .gridItem__2--form label {
                font-size: 12px;
                height: max-content; } }
            @media (max-width: 812px) and (min-width: 576px) {
              main .divContenedor__contacto--article .gridItem2 .gridItem__2--form label {
                font-size: 18px; } }
          main .divContenedor__contacto--article .gridItem2 .gridItem__2--form select {
            margin: 1px;
            padding: 7px;
            font-size: 15px;
            text-align: center;
            font-family: "Zen Loop", cursive;
            color: #24261a;
            background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
            width: 85%;
            border: none; }
            @media (max-width: 576px) and (min-width: 300px) {
              main .divContenedor__contacto--article .gridItem2 .gridItem__2--form select {
                font-size: 10px; } }
            @media (max-width: 812px) and (min-width: 576px) {
              main .divContenedor__contacto--article .gridItem2 .gridItem__2--form select {
                font-size: 13px; } }
          main .divContenedor__contacto--article .gridItem2 .gridItem__2--form input {
            width: 85%;
            padding: 3px;
            margin-top: 10px;
            border: none;
            border-bottom: solid 2px #E4E4D9;
            background: transparent;
            font-family: "Zen Loop", cursive;
            font-size: 18px;
            color: #ffff;
            font-weight: bold; }
            @media (max-width: 812px) and (min-width: 300px) {
              main .divContenedor__contacto--article .gridItem2 .gridItem__2--form input {
                font-size: 12px; } }
          main .divContenedor__contacto--article .gridItem2 .gridItem__2--form input:focus {
            background: linear-gradient(to bottom, transparent, #878a7b);
            outline: none; }
          main .divContenedor__contacto--article .gridItem2 .gridItem__2--form textarea {
            width: 85%;
            border: none;
            border-bottom: solid 2px #E4E4D9;
            background: transparent;
            font-family: "Zen Loop", cursive;
            font-size: 18px;
            color: #ffff;
            font-weight: bold;
            resize: none; }
            @media (max-width: 576px) and (min-width: 300px) {
              main .divContenedor__contacto--article .gridItem2 .gridItem__2--form textarea {
                font-size: 12px;
                height: 100px; } }
            @media (max-width: 812px) and (min-width: 576px) {
              main .divContenedor__contacto--article .gridItem2 .gridItem__2--form textarea {
                font-size: 12px;
                height: 90px; } }
          main .divContenedor__contacto--article .gridItem2 .gridItem__2--form textarea:focus {
            background: linear-gradient(to bottom, transparent, #878a7b);
            outline: none; }
          main .divContenedor__contacto--article .gridItem2 .gridItem__2--form .boton {
            width: 85%;
            height: 25px;
            margin-top: 40px;
            background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
            font-size: 15px;
            font-family: "Zen Loop", cursive;
            border: none; }
            @media (max-width: 576px) and (min-width: 300px) {
              main .divContenedor__contacto--article .gridItem2 .gridItem__2--form .boton {
                font-size: 10px;
                margin-top: 10px; } }
            @media (max-width: 812px) and (min-width: 576px) {
              main .divContenedor__contacto--article .gridItem2 .gridItem__2--form .boton {
                font-size: 12px; } }
          main .divContenedor__contacto--article .gridItem2 .gridItem__2--form .boton:focus {
            border: solid 2px #E4E4D9; }

/* Seccion NOSOTROS */
.NosotrosGrid {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
  display: grid;
  grid-template-columns: repeat(2, 50% 50%);
  grid-template-rows: 300px 300px 300px 500px 500px;
  grid-template-areas: "aside article" "aside article"  "aside article"   "divimg divimg"  "divm divm"; }
  @media (max-width: 812px) and (min-width: 300px) {
    .NosotrosGrid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(5, 400px);
      grid-template-areas: "presentacion presentacion" "presentacionImg presentacionImg" "ScrolImg ScrolImg" "productos productos" "productos productos"; }
      .NosotrosGrid .NosotrosGrid__article {
        grid-area: presentacionImg;
        width: 100%; }
        .NosotrosGrid .NosotrosGrid__article h1 {
          color: #4B5035;
          font-family: "Great Vibes", cursive;
          font-size: 3em;
          padding: 0;
          margin-right: auto;
          margin-left: auto;
          margin-bottom: 0px; }
        .NosotrosGrid .NosotrosGrid__article p {
          font-size: 1.5em;
          margin: 30px; }
      .NosotrosGrid .NosotrosGrid__asideMacetas {
        grid-area: presentacion;
        width: 100%;
        background-size: cover;
        background-position: right; }
      .NosotrosGrid .NosotrosGrid__asideVelas {
        grid-area: ScrolImg;
        width: 100%; }
      .NosotrosGrid .NosotrosGrid__articleProductos {
        grid-area: productos;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 400px);
        grid-template-areas: "prodMac prodMac" "prodVel prodVel"; }
        .NosotrosGrid .NosotrosGrid__articleProductos .NosotrosGrid__articleProductos--macetas {
          grid-area: prodMac;
          width: 100%; }
        .NosotrosGrid .NosotrosGrid__articleProductos .NosotrosGrid__articleProductos--velas {
          grid-area: prodVel;
          width: 100%; } }
  .NosotrosGrid__asideMacetas {
    grid-area: aside;
    background: url(../imagenes/MacetasNosotros.png);
    background-size: cover;
    background-position: bottom;
    box-sizing: border-box;
    border-bottom: solid 1px #4B5035;
    border-top: solid 1px #4B5035; }
  .NosotrosGrid__article {
    grid-area: article;
    border-bottom: solid 1px #4B5035;
    border-top: solid 1px #4B5035;
    background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .NosotrosGrid__article h1 {
      color: #4B5035;
      font-family: "Great Vibes", cursive;
      font-size: 2em;
      padding: 10px;
      margin: 50px; }
    .NosotrosGrid__article p {
      font-family: "Zen Loop", cursive;
      font-weight: bold;
      color: #4B5035;
      font-size: 2em;
      margin: 50px; }
  .NosotrosGrid__asideVelas {
    grid-area: divimg;
    background-image: url(../imagenes/VelasNosotros.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-bottom: solid 1px #4B5035; }
  .NosotrosGrid__articleProductos {
    grid-area: divm;
    display: grid;
    grid-template-columns: repeat(2, 50% 50%);
    grid-template-areas: "gridDivMacetas gridDivVelas"; }
  .NosotrosGrid__articleProductos--macetas {
    grid-area: gridDivMacetas;
    display: flex;
    flex-direction: column;
    text-align: center; }
    .NosotrosGrid__articleProductos--macetas div {
      background-image: url(../imagenes/MacetasNosotros__div.png);
      background-size: cover;
      background-position: center;
      border: solid 1px #4B5035;
      width: 85%;
      height: 60%;
      margin-right: auto;
      margin-left: auto; }
    .NosotrosGrid__articleProductos--macetas h2 {
      font-family: "Zen Loop", cursive;
      font-weight: bold;
      color: #4B5035;
      font-size: 30px; }
    .NosotrosGrid__articleProductos--macetas a {
      font-family: Arial, Helvetica, sans-serif;
      color: #4B5035;
      font-size: 15px;
      padding: 10px; }
  .NosotrosGrid__articleProductos--velas {
    grid-area: gridDivVelas;
    display: flex;
    flex-direction: column;
    text-align: center; }
    .NosotrosGrid__articleProductos--velas div {
      background-image: url(../imagenes/VelasNosotros__div.png);
      background-size: cover;
      background-position: center;
      border: solid 1px #4B5035;
      width: 85%;
      height: 60%;
      margin-right: auto;
      margin-left: auto; }
    .NosotrosGrid__articleProductos--velas h2 {
      font-family: "Zen Loop", cursive;
      font-weight: bold;
      color: #4B5035;
      font-size: 30px; }
    .NosotrosGrid__articleProductos--velas a {
      font-family: Arial, Helvetica, sans-serif;
      color: #4B5035;
      font-size: 15px;
      padding: 10px; }

/* SECCIONES MACETAS - VELAS */
.divMacetas__sección--title {
  width: 100%;
  height: 300px;
  border-top: solid 1px #4B5035;
  background-image: url(../imagenes/RegalaMomentosUnicos.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.divVelas__sección--title {
  width: 100%;
  height: 300px;
  border-top: solid 1px #4B5035;
  background-image: url(../imagenes/RegalaMomentosUnicos.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.container {
  width: 80%;
  margin-top: 2vh; }
  @media (max-width: 812px) and (min-width: 576px) {
    .container {
      margin-top: 50px; } }
  .container .col-md-4 {
    padding-bottom: 10px; }
    .container .col-md-4 .img-thumbnail {
      background-color: transparent;
      border: 1px solid #4B5035; }
      @media (max-width: 812px) and (min-width: 576px) {
        .container .col-md-4 .img-thumbnail {
          width: 250px;
          display: block;
          margin-left: auto;
          margin-right: auto; } }
    .container .col-md-4 aside h2 {
      font-family: "Zen Loop", cursive;
      font-weight: bold;
      color: #4B5035;
      font-size: 30px;
      text-align: center; }
    .container .col-md-4 aside p {
      color: #4B5035;
      font-size: 15px;
      padding: 10px;
      text-align: center; }
    .container .col-md-4 aside span {
      color: #4B5035;
      font-size: 15px;
      padding: 10px;
      font-weight: bold; }
    .container .col-md-4 aside .btn-primary {
      color: #4B5035;
      background-color: transparent;
      border-color: #4B5035; }
    .container .col-md-4 aside .btn-check:focus + .btn-primary, .container .col-md-4 aside .btn-primary:focus {
      color: #4B5035;
      background-color: transparent;
      border-color: #4B5035;
      box-shadow: 0 0 0 0.25rem #4B5035; }
    .container .col-md-4 aside .btn-primary:hover {
      color: #4B5035;
      background-color: transparent;
      border-color: #4B5035; }
    .container .col-md-4 aside .card {
      background-color: transparent; }

/* SECCION CONTACTO */
.logoContacto {
  width: 100%;
  height: 300px;
  border-top: solid 1px #4B5035;
  background-image: url(../imagenes/RegalaMomentosUnicos.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.ContenedorSeccionContacto {
  width: 100%;
  box-sizing: border-box;
  padding-top: 10vh;
  padding-bottom: 10vh; }
  .ContenedorSeccionContacto__divGrid {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: 85%;
    box-sizing: border-box;
    border: solid 5px #ffff;
    background-color: #b0b3a3;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "mapa formulario"; }
  .ContenedorSeccionContacto__divGrid:hover {
    transform: scale(110%, 110%);
    transition: 2.3s; }
  .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid--gridItem__1 {
    grid-area: mapa;
    align-self: center;
    justify-self: center;
    margin: 3vh;
    width: 95%;
    height: 90%; }
  .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid--gridItem__2 {
    grid-area: formulario;
    align-self: center;
    justify-self: center;
    margin: 3vh;
    width: 95%;
    height: 90%;
    border: none; }
    .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid--gridItem__2--form {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid--gridItem__2--form legend {
        font-size: 40px;
        font-family: "Zen Loop", cursive;
        color: #ffff; }
      .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid--gridItem__2--form label {
        font-size: 20px;
        font-family: "Zen Loop", cursive;
        color: #ffff; }
      .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid--gridItem__2--form select {
        margin: 1px;
        padding: 7px;
        font-size: 15px;
        text-align: center;
        font-family: "Zen Loop", cursive;
        color: #24261a;
        background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
        width: 85%;
        border: none; }
      .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid--gridItem__2--form input {
        width: 85%;
        padding: 3px;
        margin-top: 10px;
        border: none;
        border-bottom: solid 2px #E4E4D9;
        background: transparent;
        font-family: "Zen Loop", cursive;
        font-size: 18px;
        color: #ffff;
        font-weight: bold; }
      .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid--gridItem__2--form input:focus {
        background: linear-gradient(to bottom, transparent, #878a7b);
        outline: none; }
      .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid--gridItem__2--form textarea {
        width: 85%;
        border: none;
        border-bottom: solid 2px #E4E4D9;
        background: transparent;
        font-family: "Zen Loop", cursive;
        font-size: 18px;
        color: #ffff;
        font-weight: bold;
        resize: none; }
      .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid--gridItem__2--form textarea:focus {
        background: linear-gradient(to bottom, transparent, #878a7b);
        outline: none; }
      .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid--gridItem__2--form .boton {
        width: 85%;
        background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
        font-size: 15px;
        font-family: "Zen Loop", cursive;
        border: none; }
      .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid--gridItem__2--form .boton:focus {
        border: solid 2px #E4E4D9; }
  @media (max-width: 812px) and (min-width: 300px) {
    .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: 400px 250px;
      grid-template-areas: "forM forM" "maP maP"; }
      .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid .ContenedorSeccionContacto__divGrid--gridItem__1 {
        grid-area: maP; }
      .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid .ContenedorSeccionContacto__divGrid--gridItem__2 {
        grid-area: forM; }
        .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid .ContenedorSeccionContacto__divGrid--gridItem__2--form legend {
          font-size: 20px; }
        .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid .ContenedorSeccionContacto__divGrid--gridItem__2--form label {
          font-size: 10px; }
        .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid .ContenedorSeccionContacto__divGrid--gridItem__2--form select {
          font-size: 12px; }
        .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid .ContenedorSeccionContacto__divGrid--gridItem__2--form input {
          font-size: 10px; }
        .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid .ContenedorSeccionContacto__divGrid--gridItem__2--form textarea {
          font-size: 10px; }
        .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid .ContenedorSeccionContacto__divGrid--gridItem__2--form .boton {
          font-size: 12px; } }

/* footer */
.pie {
  background: linear-gradient(to bottom, #E4E4D9, #c4bcbb);
  width: 100%;
  height: 200px;
  border-top: solid 1px #4b503544; }
  .pie .pieDiv {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
    grid-template-areas: "img derechor liicon" "img horarios liicon"; }
    .pie .pieDiv__img {
      grid-area: img;
      text-align: center; }
      .pie .pieDiv__img img {
        width: 10rem;
        margin: 20px; }
    .pie .pieDiv__title {
      grid-area: derechor; }
      .pie .pieDiv__title p {
        text-align: center;
        line-height: 100px;
        font-family: "Great Vibes", cursive;
        color: #4B5035;
        font-size: 20px; }
    .pie .pieDiv__liHorarios {
      grid-area: horarios; }
      .pie .pieDiv__liHorarios h3 {
        text-align: center;
        color: #4B5035;
        margin: 0%; }
      .pie .pieDiv__liHorarios .pie__lista {
        text-align: center; }
        .pie .pieDiv__liHorarios .pie__lista li {
          color: #4B5035;
          font-family: "Zen Loop", cursive;
          list-style-type: none;
          text-decoration: none;
          margin-right: 50px; }
    .pie .pieDiv__liIcon {
      grid-area: liicon; }
      .pie .pieDiv__liIcon ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        color: #4B5035;
        justify-content: space-around;
        margin: 50px; }
        .pie .pieDiv__liIcon ul .pieDiv__liIcon--li {
          list-style-type: none; }
          .pie .pieDiv__liIcon ul .pieDiv__liIcon--li a {
            text-decoration: none;
            font-size: 2rem;
            color: #4B5035; }
  @media (max-width: 812px) and (min-width: 300px) {
    .pie {
      height: auto; }
      .pie .pieDiv {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 100px, 50px, 100px, 50px;
        grid-template-areas: "imgP imgP" "titleP titleP" "liHp liHp" "liIc liIc"; }
        .pie .pieDiv .pieDiv__img {
          grid-area: imgP; }
          .pie .pieDiv .pieDiv__img img {
            margin: 0px; }
        .pie .pieDiv .pieDiv__title {
          grid-area: titleP; }
          .pie .pieDiv .pieDiv__title p {
            font-size: 20px; }
        .pie .pieDiv .pieDiv__liHorarios {
          grid-area: liHp; }
        .pie .pieDiv .pieDiv__liIcon {
          grid-area: liIc; }
          .pie .pieDiv .pieDiv__liIcon ul {
            margin: 10px;
            margin-right: 50px; } }
