@charset "UTF-8";
html body {
  margin: 0%;
  padding: 0%;
  background: linear-gradient(to bottom, #c4bcbb, #E4E4D9); }

/*header*/
.navContenedor {
  box-sizing: content-box;
  margin: auto;
  padding: 0px;
  background: linear-gradient(to bottom, #E4E4D9, #c4bcbb);
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.navContenedor__logo {
  margin-top: 0%;
  margin-left: 0%;
  width: 5rem;
  height: 5rem; }

.navContenedor__lista {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 15px;
  color: #4B5035; }

.navContenedor__lista--item {
  margin: 10px;
  align-items: center; }

.navContenedor__lista i {
  margin-right: 10px;
  font-size: 25px; }

.navContenedor__lista--item a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding-right: 10px;
  color: #4B5035; }

/* Titulo */
.divPrincipal {
  width: 80%;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../imagenes/Imagen-de-Pexels-en-Pixabay.png);
  background-size: cover;
  background-color: #504b4b;
  background-blend-mode: soft-light;
  box-sizing: border-box;
  border-bottom: solid 1px #4B5035;
  border-top: solid 1px #4B5035;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.divPrincipal div {
  text-align: center; }

.divPrincipal__title {
  color: #E4E4D9;
  font-family: 'Great Vibes', cursive;
  font-size: 60px; }

.divPrincipal div a {
  text-decoration: none; }

.nosotros__parrafo {
  font-family: 'Zen Loop', cursive;
  font-size: 30px;
  color: #E4E4D9; }

/*main*/
main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to bottom, #c4bcbb, #E4E4D9); }

.divContenedor {
  display: grid;
  grid-template-columns: repeat(2, 50% 50%);
  grid-template-rows: repeat(3, 650px);
  grid-template-areas: "articlev asidev"  "articlem asidem"  "articlec articlec"; }

.divContenedor__velas--article {
  grid-area: articlev;
  height: 650px;
  background-image: url(../imagenes/velasindex.png);
  background-size: cover;
  box-sizing: border-box;
  border-bottom: solid 1px #4B5035; }

.divContenedor__velas--aside {
  grid-area: asidev;
  height: 650px;
  background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
  text-align: center;
  box-sizing: border-box;
  border-bottom: solid 1px #4B5035;
  display: flex;
  align-items: center;
  justify-content: center; }

.divContenedor__velas--aside h2 {
  color: #4B5035;
  font-family: 'Great Vibes', cursive;
  font-size: 60px; }

.divContenedor__velas--aside p {
  font-family: 'Zen Loop', cursive;
  font-weight: bold;
  color: #4B5035;
  font-size: 40px; }

.divContenedor__velas--aside a {
  font-family: Arial, Helvetica, sans-serif;
  color: #4B5035;
  font-size: 30px; }

.divContenedor__velas--aside div {
  align-items: start;
  box-sizing: border-box;
  margin: 50px; }

.divContenedor__macetas--article {
  grid-area: asidem;
  background-image: url(../imagenes/macetas.png);
  background-size: cover;
  background-position: right;
  box-sizing: border-box;
  border-bottom: solid 1px #4B5035; }

.divContenedor__macetas--aside {
  grid-area: articlem;
  height: 650px;
  background: linear-gradient(to bottom, #E4E4D9, #c4bcbb);
  box-sizing: border-box;
  border-bottom: solid 1px #4B5035;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.divContenedor__macetas--aside div {
  align-items: start;
  box-sizing: border-box;
  margin: 50px; }

.divContenedor__macetas--aside div h2 {
  color: #4B5035;
  font-family: 'Great Vibes', cursive;
  font-size: 60px; }

.divContenedor__macetas--aside div p {
  font-family: 'Zen Loop', cursive;
  font-weight: bold;
  color: #4B5035;
  font-size: 40px; }

.divContenedor__macetas--aside div a {
  font-family: Arial, Helvetica, sans-serif;
  color: #4B5035;
  font-size: 30px; }

.divContenedor__contacto--article {
  grid-area: articlec;
  height: 650px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(to bottom, #c4bcbb, #E4E4D9); }

.divContenedor__contacto--article--div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 85%;
  box-sizing: border-box;
  border: solid 5px #ffff;
  background-color: #b0b3a3;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas: "mapa formulario"; }

.divContenedor__contacto--article--div:hover {
  transform: scale(110%, 110%);
  transition: 2.3s; }

.gridItem__1 {
  grid-area: mapa;
  align-self: center;
  justify-self: center;
  margin: 15px;
  width: 95%;
  height: 90%; }

.gridItem2 {
  grid-area: formulario;
  align-self: center;
  justify-self: center;
  margin: 15px;
  width: 95%;
  height: 90%;
  border: none; }

.gridItem__2--form {
  display: flex;
  flex-direction: column;
  align-items: center; }

.gridItem__2--form legend {
  font-size: 40px;
  font-family: 'Zen Loop', cursive;
  color: #ffff; }

.gridItem__2--form label {
  font-size: 20px;
  font-family: 'Zen Loop', cursive;
  color: #ffff; }

.gridItem__2--form select {
  margin: 1px;
  padding: 7px;
  font-size: 15px;
  text-align: center;
  font-family: 'Zen Loop', cursive;
  color: #24261a;
  background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
  width: 85%;
  border: none; }

.gridItem__2--form input {
  width: 85%;
  padding: 3px;
  margin-top: 10px;
  border: none;
  border-bottom: solid 2px #E4E4D9;
  background: transparent;
  font-family: 'Zen Loop', cursive;
  font-size: 18px;
  color: #ffff;
  font-weight: bold; }

.gridItem__2--form input:focus {
  background: linear-gradient(to bottom, transparent, #878a7b);
  outline: none; }

.gridItem__2--form textarea {
  width: 85%;
  border: none;
  border-bottom: solid 2px #E4E4D9;
  background: transparent;
  font-family: 'Zen Loop', cursive;
  font-size: 18px;
  color: #ffff;
  font-weight: bold;
  resize: none; }

.gridItem__2--form textarea:focus {
  background: linear-gradient(to bottom, transparent, #878a7b);
  outline: none; }

.boton {
  width: 45%;
  background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
  font-size: 15px;
  font-family: 'Zen Loop', cursive;
  border: none; }

.boton:focus {
  border: solid 2px #E4E4D9; }

/* Seccion NOSOTROS */
.NosotrosGrid {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
  display: grid;
  grid-template-columns: repeat(2, 50% 50%);
  grid-template-rows: 300px 300px 300px 500px 500px;
  grid-template-areas: "aside article" "aside article"  "aside article"   "divimg divimg"  "divm divm"; }

.NosotrosGrid__asideMacetas {
  grid-area: aside;
  background: url(../imagenes/MacetasNosotros.png);
  background-size: cover;
  background-position: bottom;
  box-sizing: border-box;
  border-bottom: solid 1px #4B5035;
  border-top: solid 1px #4B5035; }

.NosotrosGrid__article {
  grid-area: article;
  border-bottom: solid 1px #4B5035;
  border-top: solid 1px #4B5035;
  background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.NosotrosGrid__article h1 {
  color: #4B5035;
  font-family: 'Great Vibes', cursive;
  font-size: 60px;
  padding: 10px;
  margin: 50px; }

.NosotrosGrid__article p {
  font-family: 'Zen Loop', cursive;
  font-weight: bold;
  color: #4B5035;
  font-size: 40px;
  margin: 50px; }

.NosotrosGrid__divVelas {
  grid-area: divimg;
  background-image: url(../imagenes/VelasNosotros.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-bottom: solid 1px #4B5035; }

.NosotrosGrid__divProductos {
  grid-area: divm;
  display: grid;
  grid-template-columns: repeat(2, 50% 50%);
  grid-template-areas: "gridDivMacetas gridDivVelas"; }

.NosotrosGrid__divProductos--macetas {
  grid-area: gridDivMacetas;
  display: flex;
  flex-direction: column;
  text-align: center; }

.NosotrosGrid__divProductos--macetas div {
  background-image: url(../imagenes/MacetasNosotros__div.png);
  background-size: cover;
  background-position: center;
  border: solid 1px #4B5035;
  width: 85%;
  height: 60%;
  margin-right: auto;
  margin-left: auto; }

.NosotrosGrid__divProductos--macetas h2 {
  font-family: 'Zen Loop', cursive;
  font-weight: bold;
  color: #4B5035;
  font-size: 30px; }

.NosotrosGrid__divProductos--macetas a {
  font-family: Arial, Helvetica, sans-serif;
  color: #4B5035;
  font-size: 15px;
  padding: 10px; }

.NosotrosGrid__divProductos--velas {
  grid-area: gridDivVelas;
  display: flex;
  flex-direction: column;
  text-align: center; }

.NosotrosGrid__divProductos--velas h2 {
  font-family: 'Zen Loop', cursive;
  font-weight: bold;
  color: #4B5035;
  font-size: 30px; }

.NosotrosGrid__divProductos--velas a {
  font-family: Arial, Helvetica, sans-serif;
  color: #4B5035;
  font-size: 15px;
  padding: 10px; }

.NosotrosGrid__divProductos--velas div {
  background-image: url(../imagenes/VelasNosotros__div.png);
  background-size: cover;
  background-position: center;
  border: solid 1px #4B5035;
  width: 85%;
  height: 60%;
  margin-right: auto;
  margin-left: auto; }

/* SECCION MACETAS */
.divMacetas__sección--title {
  width: 100%;
  height: auto;
  border-top: solid 1px #4B5035; }

.divMacetas__title {
  text-align: center;
  color: #4B5035;
  font-family: 'Zen Loop', cursive;
  font-size: 60px;
  font-weight: bold;
  padding: 10px;
  margin: 10px; }

.container {
  width: 80%; }

.col-md-4 {
  padding-bottom: 10px; }

.img-thumbnail {
  background-color: #E4E4D9;
  border: 1px solid #4B5035; }

.col-md-4 aside h2 {
  font-family: 'Zen Loop', cursive;
  font-weight: bold;
  color: #4B5035;
  font-size: 30px;
  text-align: center; }

.col-md-4 aside p {
  color: #4B5035;
  font-size: 15px;
  padding: 10px;
  text-align: center; }

.col-md-4 aside span {
  color: #4B5035;
  font-size: 15px;
  padding: 10px;
  font-weight: bold; }

.card {
  background-color: transparent; }

.btn-primary {
  color: #4B5035;
  background-color: transparent;
  border-color: #4B5035; }

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #4B5035;
  background-color: transparent;
  border-color: #4B5035;
  box-shadow: 0 0 0 0.25rem #4B5035; }

.btn-primary:hover {
  color: #4B5035;
  background-color: transparent;
  border-color: #4B5035; }

/* footer */
.pie {
  background: linear-gradient(to bottom, #E4E4D9, #c4bcbb);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  border-top: solid 1px #4B5035; }

.pieDiv__img {
  flex: 1; }

.pieDiv__img img {
  margin: 0;
  padding: 0;
  width: 10rem; }

.pieDiv__centrado {
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: center;
  justify-content: center; }

.pieDiv__title {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  flex: 1; }

.pie__title--title {
  font-family: 'Great Vibes', cursive;
  color: #4B5035;
  font-size: 20px; }

.pie__title--complemento {
  color: #4B5035;
  font-size: 20px; }

.pieDiv__liHorarios {
  display: flex;
  flex-direction: column;
  flex: 2; }

.pieDiv__liHorarios--title {
  color: #4B5035;
  margin: auto;
  padding: 0%;
  justify-content: center; }

.pie__lista li {
  color: #4B5035;
  font-family: 'Zen Loop', cursive;
  list-style-type: none;
  text-decoration: none; }

.pieDiv__liIcon {
  flex: 1; }

.pieDiv__liIcon ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 15px;
  color: #4B5035;
  justify-content: space-around; }

.pieDiv__liIcon--li {
  list-style-type: none; }

.pieDiv__liIcon--li a {
  text-decoration: none;
  font-size: 2rem;
  color: #4B5035;
  display: flex;
  flex-direction: row; }
