@charset "UTF-8";
/* maps */
html body {
  margin: 0%;
  padding: 0%;
  background: linear-gradient(to bottom, #c4bcbb, #E4E4D9); }

/*header*/
.navContenedor {
  box-sizing: content-box;
  margin: auto;
  padding: 0px;
  background: linear-gradient(to bottom, #E4E4D9, #c4bcbb);
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .navContenedor__logo {
    margin-top: 0%;
    margin-left: 0%;
    width: 5rem;
    height: 5rem; }
  .navContenedor__lista {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 15px;
    color: #4B5035; }
    .navContenedor__lista--item {
      margin: 10px;
      align-items: center; }
      .navContenedor__lista--item i {
        margin-right: 10px;
        font-size: 25px; }
      .navContenedor__lista--item a {
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        padding-right: 10px;
        color: #4B5035; }

/* INDEX */
.divPrincipal {
  width: 80%;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../imagenes/Imagen-de-Pexels-en-Pixabay.png);
  background-size: cover;
  background-color: #504b4b;
  background-blend-mode: soft-light;
  box-sizing: border-box;
  border-bottom: solid 1px #4B5035;
  border-top: solid 1px #4B5035;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .divPrincipal div {
    text-align: center; }
    .divPrincipal div a {
      text-decoration: none; }
    .divPrincipal div .divPrincipal__title {
      color: #E4E4D9;
      font-family: "Great Vibes", cursive;
      font-size: 60px; }
    .divPrincipal div .nosotros__parrafo {
      font-family: "Zen Loop", cursive;
      font-size: 30px;
      color: #E4E4D9; }

main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to bottom, #c4bcbb, #E4E4D9); }
  main .divContenedor {
    display: grid;
    grid-template-columns: repeat(2, 50% 50%);
    grid-template-rows: repeat(3, 650px);
    grid-template-areas: "articlev asidev"  "articlem asidem"  "articlec articlec"; }
    main .divContenedor__velas--article {
      grid-area: articlev;
      height: 650px;
      background-image: url(../imagenes/velasindex.png);
      background-size: cover;
      box-sizing: border-box;
      border-bottom: solid 1px #4B5035; }
    main .divContenedor__velas--aside {
      grid-area: asidev;
      background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
      text-align: center;
      box-sizing: border-box;
      border-bottom: solid 1px #4B5035;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 650px; }
      main .divContenedor__velas--aside div {
        align-items: start;
        box-sizing: border-box;
        margin: 50px; }
        main .divContenedor__velas--aside div h2 {
          color: #4B5035;
          font-family: "Great Vibes", cursive;
          font-size: 60px; }
        main .divContenedor__velas--aside div p {
          font-family: "Zen Loop", cursive;
          font-weight: bold;
          color: #4B5035;
          font-size: 40px; }
        main .divContenedor__velas--aside div a {
          font-family: Arial, Helvetica, sans-serif;
          color: #4B5035;
          font-size: 30px; }
    main .divContenedor__macetas--article {
      grid-area: asidem;
      background-image: url(../imagenes/macetas.png);
      background-size: cover;
      background-position: right;
      box-sizing: border-box;
      border-bottom: solid 1px #4B5035; }
    main .divContenedor__macetas--aside {
      grid-area: articlem;
      background: linear-gradient(to bottom, #E4E4D9, #c4bcbb);
      text-align: center;
      box-sizing: border-box;
      border-bottom: solid 1px #4B5035;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 650px; }
      main .divContenedor__macetas--aside div {
        align-items: start;
        box-sizing: border-box;
        margin: 50px; }
        main .divContenedor__macetas--aside div h2 {
          color: #4B5035;
          font-family: "Great Vibes", cursive;
          font-size: 60px; }
        main .divContenedor__macetas--aside div p {
          font-family: "Zen Loop", cursive;
          font-weight: bold;
          color: #4B5035;
          font-size: 40px; }
        main .divContenedor__macetas--aside div a {
          font-family: Arial, Helvetica, sans-serif;
          color: #4B5035;
          font-size: 30px; }
    main .divContenedor__contacto--article {
      grid-area: articlec;
      height: 650px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      background: linear-gradient(to bottom, #c4bcbb, #E4E4D9); }
      main .divContenedor__contacto--article--div {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: 85%;
        box-sizing: border-box;
        border: solid 5px #ffff;
        background-color: #b0b3a3;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: "mapa formulario"; }
      main .divContenedor__contacto--article--div:hover {
        transform: scale(110%, 110%);
        transition: 2.3s; }
      main .divContenedor__contacto--article .gridItem__1 {
        grid-area: mapa;
        align-self: center;
        justify-self: center;
        margin: 15px;
        width: 95%;
        height: 90%; }
      main .divContenedor__contacto--article .gridItem2 {
        grid-area: formulario;
        align-self: center;
        justify-self: center;
        margin: 3vh;
        width: 95%;
        height: 90%;
        border: none; }
        main .divContenedor__contacto--article .gridItem2 .gridItem__2--form {
          display: flex;
          flex-direction: column;
          align-items: center; }
          main .divContenedor__contacto--article .gridItem2 .gridItem__2--form legend {
            font-size: 40px;
            font-family: "Zen Loop", cursive;
            color: #ffff; }
          main .divContenedor__contacto--article .gridItem2 .gridItem__2--form label {
            font-size: 20px;
            font-family: "Zen Loop", cursive;
            color: #ffff; }
          main .divContenedor__contacto--article .gridItem2 .gridItem__2--form select {
            margin: 1px;
            padding: 7px;
            font-size: 15px;
            text-align: center;
            font-family: "Zen Loop", cursive;
            color: #24261a;
            background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
            width: 85%;
            border: none; }
          main .divContenedor__contacto--article .gridItem2 .gridItem__2--form input {
            width: 85%;
            padding: 3px;
            margin-top: 10px;
            border: none;
            border-bottom: solid 2px #E4E4D9;
            background: transparent;
            font-family: "Zen Loop", cursive;
            font-size: 18px;
            color: #ffff;
            font-weight: bold; }
          main .divContenedor__contacto--article .gridItem2 .gridItem__2--form input:focus {
            background: linear-gradient(to bottom, transparent, #878a7b);
            outline: none; }
          main .divContenedor__contacto--article .gridItem2 .gridItem__2--form textarea {
            width: 85%;
            border: none;
            border-bottom: solid 2px #E4E4D9;
            background: transparent;
            font-family: "Zen Loop", cursive;
            font-size: 18px;
            color: #ffff;
            font-weight: bold;
            resize: none; }
          main .divContenedor__contacto--article .gridItem2 .gridItem__2--form textarea:focus {
            background: linear-gradient(to bottom, transparent, #878a7b);
            outline: none; }
          main .divContenedor__contacto--article .gridItem2 .gridItem__2--form .boton {
            width: 85%;
            background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
            font-size: 15px;
            font-family: "Zen Loop", cursive;
            border: none; }
          main .divContenedor__contacto--article .gridItem2 .gridItem__2--form .boton:focus {
            border: solid 2px #E4E4D9; }

/* Seccion NOSOTROS */
.NosotrosGrid {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
  display: grid;
  grid-template-columns: repeat(2, 50% 50%);
  grid-template-rows: 300px 300px 300px 500px 500px;
  grid-template-areas: "aside article" "aside article"  "aside article"   "divimg divimg"  "divm divm"; }
  .NosotrosGrid__asideMacetas {
    grid-area: aside;
    background: url(../imagenes/MacetasNosotros.png);
    background-size: cover;
    background-position: bottom;
    box-sizing: border-box;
    border-bottom: solid 1px #4B5035;
    border-top: solid 1px #4B5035; }
  .NosotrosGrid__article {
    grid-area: article;
    border-bottom: solid 1px #4B5035;
    border-top: solid 1px #4B5035;
    background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .NosotrosGrid__article h1 {
      color: #4B5035;
      font-family: "Great Vibes", cursive;
      font-size: 60px;
      padding: 10px;
      margin: 50px; }
    .NosotrosGrid__article p {
      font-family: "Zen Loop", cursive;
      font-weight: bold;
      color: #4B5035;
      font-size: 40px;
      margin: 50px; }
  .NosotrosGrid__asideVelas {
    grid-area: divimg;
    background-image: url(../imagenes/VelasNosotros.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-bottom: solid 1px #4B5035; }
  .NosotrosGrid__articleProductos {
    grid-area: divm;
    display: grid;
    grid-template-columns: repeat(2, 50% 50%);
    grid-template-areas: "gridDivMacetas gridDivVelas"; }
  .NosotrosGrid__articleProductos--macetas {
    grid-area: gridDivMacetas;
    display: flex;
    flex-direction: column;
    text-align: center; }
    .NosotrosGrid__articleProductos--macetas div {
      background-image: url(../imagenes/MacetasNosotros__div.png);
      background-size: cover;
      background-position: center;
      border: solid 1px #4B5035;
      width: 85%;
      height: 60%;
      margin-right: auto;
      margin-left: auto; }
    .NosotrosGrid__articleProductos--macetas h2 {
      font-family: "Zen Loop", cursive;
      font-weight: bold;
      color: #4B5035;
      font-size: 30px; }
    .NosotrosGrid__articleProductos--macetas a {
      font-family: Arial, Helvetica, sans-serif;
      color: #4B5035;
      font-size: 15px;
      padding: 10px; }
  .NosotrosGrid__articleProductos--velas {
    grid-area: gridDivVelas;
    display: flex;
    flex-direction: column;
    text-align: center; }
    .NosotrosGrid__articleProductos--velas div {
      background-image: url(../imagenes/VelasNosotros__div.png);
      background-size: cover;
      background-position: center;
      border: solid 1px #4B5035;
      width: 85%;
      height: 60%;
      margin-right: auto;
      margin-left: auto; }
    .NosotrosGrid__articleProductos--velas h2 {
      font-family: "Zen Loop", cursive;
      font-weight: bold;
      color: #4B5035;
      font-size: 30px; }
    .NosotrosGrid__articleProductos--velas a {
      font-family: Arial, Helvetica, sans-serif;
      color: #4B5035;
      font-size: 15px;
      padding: 10px; }

/* SECCIONES MACETAS - VELAS */
.divMacetas__sección--title {
  width: 100%;
  height: 300px;
  border-top: solid 1px #4B5035;
  background-image: url(../imagenes/nuestrasMacetas.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.divVelas__sección--title {
  width: 100%;
  height: 300px;
  border-top: solid 1px #4B5035;
  background-image: url(../imagenes/nuestrasVelas.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.container {
  width: 80%;
  margin-top: 2vh; }
  .container .col-md-4 {
    padding-bottom: 10px; }
    .container .col-md-4 .img-thumbnail {
      background-color: #E4E4D9;
      border: 1px solid #4B5035; }
    .container .col-md-4 aside h2 {
      font-family: "Zen Loop", cursive;
      font-weight: bold;
      color: #4B5035;
      font-size: 30px;
      text-align: center; }
    .container .col-md-4 aside p {
      color: #4B5035;
      font-size: 15px;
      padding: 10px;
      text-align: center; }
    .container .col-md-4 aside span {
      color: #4B5035;
      font-size: 15px;
      padding: 10px;
      font-weight: bold; }
    .container .col-md-4 aside .btn-primary {
      color: #4B5035;
      background-color: transparent;
      border-color: #4B5035; }
    .container .col-md-4 aside .btn-check:focus + .btn-primary, .container .col-md-4 aside .btn-primary:focus {
      color: #4B5035;
      background-color: transparent;
      border-color: #4B5035;
      box-shadow: 0 0 0 0.25rem #4B5035; }
    .container .col-md-4 aside .btn-primary:hover {
      color: #4B5035;
      background-color: transparent;
      border-color: #4B5035; }
    .container .col-md-4 aside .card {
      background-color: transparent; }

/* SECCION CONTACTO */
.logoContacto {
  width: 100%;
  height: 300px;
  border-top: solid 1px #4B5035;
  background-image: url(../imagenes/RegalaMomentosUnicos.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.ContenedorSeccionContacto {
  width: 100%;
  box-sizing: border-box;
  padding-top: 10vh;
  padding-bottom: 10vh; }
  .ContenedorSeccionContacto__divGrid {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: 85%;
    box-sizing: border-box;
    border: solid 5px #ffff;
    background-color: #b0b3a3;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "mapa formulario"; }
  .ContenedorSeccionContacto__divGrid:hover {
    transform: scale(110%, 110%);
    transition: 2.3s; }
  .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid--gridItem__1 {
    grid-area: mapa;
    align-self: center;
    justify-self: center;
    margin: 3vh;
    width: 95%;
    height: 90%; }
  .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid--gridItem__2 {
    grid-area: formulario;
    align-self: center;
    justify-self: center;
    margin: 3vh;
    width: 95%;
    height: 90%;
    border: none; }
    .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid--gridItem__2--form {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid--gridItem__2--form legend {
        font-size: 40px;
        font-family: "Zen Loop", cursive;
        color: #ffff; }
      .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid--gridItem__2--form label {
        font-size: 20px;
        font-family: "Zen Loop", cursive;
        color: #ffff; }
      .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid--gridItem__2--form select {
        margin: 1px;
        padding: 7px;
        font-size: 15px;
        text-align: center;
        font-family: "Zen Loop", cursive;
        color: #24261a;
        background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
        width: 85%;
        border: none; }
      .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid--gridItem__2--form input {
        width: 85%;
        padding: 3px;
        margin-top: 10px;
        border: none;
        border-bottom: solid 2px #E4E4D9;
        background: transparent;
        font-family: "Zen Loop", cursive;
        font-size: 18px;
        color: #ffff;
        font-weight: bold; }
      .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid--gridItem__2--form input:focus {
        background: linear-gradient(to bottom, transparent, #878a7b);
        outline: none; }
      .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid--gridItem__2--form textarea {
        width: 85%;
        border: none;
        border-bottom: solid 2px #E4E4D9;
        background: transparent;
        font-family: "Zen Loop", cursive;
        font-size: 18px;
        color: #ffff;
        font-weight: bold;
        resize: none; }
      .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid--gridItem__2--form textarea:focus {
        background: linear-gradient(to bottom, transparent, #878a7b);
        outline: none; }
      .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid--gridItem__2--form .boton {
        width: 85%;
        background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
        font-size: 15px;
        font-family: "Zen Loop", cursive;
        border: none; }
      .ContenedorSeccionContacto .ContenedorSeccionContacto__divGrid--gridItem__2--form .boton:focus {
        border: solid 2px #E4E4D9; }

/* footer */
.pie {
  background: linear-gradient(to bottom, #E4E4D9, #c4bcbb);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  border-top: solid 1px #4B5035; }
  .pieDiv__img {
    flex: 1; }
    .pieDiv__img img {
      margin: 0;
      padding: 0;
      width: 10rem; }
  .pieDiv__centrado {
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
    justify-content: center; }
    .pieDiv__centrado .pieDiv__title {
      display: flex;
      flex-direction: row;
      margin-top: 15px;
      flex: 1; }
      .pieDiv__centrado .pieDiv__title .pie__title--title {
        font-family: "Great Vibes", cursive;
        color: #4B5035;
        font-size: 20px; }
      .pieDiv__centrado .pieDiv__title .pie__title--complemento {
        color: #4B5035;
        font-size: 20px; }
    .pieDiv__centrado .pieDiv__liHorarios {
      display: flex;
      flex-direction: column;
      flex: 2; }
      .pieDiv__centrado .pieDiv__liHorarios .pieDiv__liHorarios--title {
        color: #4B5035;
        margin: auto;
        padding: 0%;
        justify-content: center; }
      .pieDiv__centrado .pieDiv__liHorarios .pie__lista li {
        color: #4B5035;
        font-family: "Zen Loop", cursive;
        list-style-type: none;
        text-decoration: none; }
  .pie .pieDiv__liIcon {
    flex: 1; }
    .pie .pieDiv__liIcon ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      padding: 15px;
      color: #4B5035;
      justify-content: space-around; }
      .pie .pieDiv__liIcon ul .pieDiv__liIcon--li {
        list-style-type: none; }
        .pie .pieDiv__liIcon ul .pieDiv__liIcon--li a {
          text-decoration: none;
          font-size: 2rem;
          color: #4B5035;
          display: flex;
          flex-direction: row; }
