html body{
   margin: 0%;
   padding: 0%;
   background: linear-gradient(to bottom, #c4bcbb, #E4E4D9); 
}

/*header*/

.navContenedor {
    box-sizing: content-box;
    margin: auto;
    padding: 0px;
    background: linear-gradient(to bottom, #E4E4D9, #C4BCBB);
    width: 100%;
    height: 7rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    &__logo {
        margin-top: 0%;
        margin-left: 0%;
        width: 5rem; 
        height: 5rem;  
    }
    
    &__lista {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        padding: 15px;
        color: #4B5035; 
        
        &--item {
            margin: 10px;
            align-items: center; 
            i {
                margin-right: 10px;
                font-size: 25px;  
            }
            a {
                text-decoration: none;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 24px;
                padding-right: 10px;
                color: #4B5035;  
            }
       }
    }
}
/* INDEX */

.divPrincipal {
    width: 80%;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../imagenes/Imagen-de-Pexels-en-Pixabay.png);
    background-size: cover;
    background-color: rgb(80, 75, 75);
    background-blend-mode: soft-light;
    box-sizing: border-box;
    border-bottom: solid 1px #4B5035;
    border-top: solid 1px #4B5035;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        text-align: center;

        a {
            text-decoration: none;
        }
        .divPrincipal__title {
            color: #E4E4D9;
            font-family: 'Great Vibes', cursive;
            font-size: 60px;
        }
        .nosotros__parrafo {
            font-family: 'Zen Loop', cursive;
            font-size: 30px;
            color: #E4E4D9;
        }
    }
}

main { 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to bottom, #c4bcbb, #E4E4D9); 

    .divContenedor {
        display: grid;
        grid-template-columns: repeat(2, 50% 50%);
        grid-template-rows: repeat(3, 650px);
       grid-template-areas: 
       "articlev asidev" 
       "articlem asidem" 
       "articlec articlec";

       &__velas--article {
        grid-area: articlev;
        height: 650px;
        background-image: url(../imagenes/velasindex.png);
        background-size: cover;
        box-sizing: border-box;
        border-bottom: solid 1px #4B5035;
       }
       &__velas--aside {
        grid-area: asidev;
        height: 650px;
        background: linear-gradient(to bottom,#c4bcbb, #E4E4D9);
        text-align: center;
        box-sizing: border-box;
        border-bottom: solid 1px #4B5035;
        display: flex; 
        align-items: center;
        justify-content: center;

            div {
                align-items: start;
                box-sizing: border-box;
                margin: 50px;

                h2 {
                    color: #4B5035;
                    font-family: 'Great Vibes', cursive;
                    font-size: 60px;
                }
                p {
                    font-family: 'Zen Loop', cursive;
                    font-weight: bold;
                    color: #4B5035;
                    font-size: 40px;
                }
                a {
                    font-family: Arial, Helvetica, sans-serif;
                    color: #4B5035;
                    font-size: 30px;
                }
            }    
       }
       &__macetas--article {
            grid-area: asidem;
            background-image: url(../imagenes/macetas.png);
            background-size: cover;
            background-position: right;
            box-sizing: border-box;
            border-bottom: solid 1px #4B5035;
        }
    
        &__macetas--aside {
            grid-area: articlem;
            height: 650px;
            background: linear-gradient(to bottom, #E4E4D9, #c4bcbb);
            box-sizing: border-box;
            border-bottom: solid 1px #4B5035;
            text-align: center;
            display: flex; 
            align-items: center;
            justify-content: center;

            div {
                align-items: start;
                box-sizing: border-box;
                margin: 50px;

                h2 {
                    color: #4B5035;
                    font-family: 'Great Vibes', cursive;
                    font-size: 60px;
                }

                p {
                    font-family: 'Zen Loop', cursive;
                    font-weight: bold;
                    color: #4B5035;
                    font-size: 40px;
                }

                a {
                    font-family: Arial, Helvetica, sans-serif;
                    color: #4B5035;
                    font-size: 30px;
                }
            }
        }
        &__contacto--article {
            grid-area: articlec;
            height: 650px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
            
            &--div {
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                height: 85%;
                box-sizing: border-box;
                border: solid 5px #ffff;
                background-color: #b0b3a3;
                display: grid;
                grid-template-columns: repeat(2, 50%);
                grid-template-areas:
                "mapa formulario" 
            }
               
            &--div:hover {
                transform: scale(110%, 110%);
                transition: 2.3s;
            }

            .gridItem__1 {
                grid-area: mapa;
                align-self: center;
                justify-self: center;
                margin: 15px;
                width: 95%;
                height: 90%;
            }
             
            .gridItem2 {
                grid-area: formulario;
                align-self: center;
                justify-self: center;
                margin: 15px;
                width: 95%;
                height: 90%;
                border: none;
               
                .gridItem__2--form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    legend {
                        font-size: 40px;
                        font-family: 'Zen Loop', cursive;
                        color: #ffff; 
                    }
                    label {
                        font-size: 20px;
                        font-family: 'Zen Loop', cursive;
                        color: #ffff;
                    }
                    select {
                        margin: 1px;
                        padding: 7px;
                        font-size: 15px;
                        text-align: center;
                        font-family: 'Zen Loop', cursive;
                        color: #24261a; 
                        background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
                        width: 85%;
                        border: none;
                    }
                    input {
                        width: 85%;
                        padding: 3px;
                        margin-top: 10px ;
                        border: none;
                        border-bottom: solid 2px #E4E4D9;
                        background: transparent;
                        font-family: 'Zen Loop', cursive;
                        font-size: 18px;
                        color: #ffff;
                        font-weight: bold;
                    }
                    input:focus{
                        background: linear-gradient(to bottom, transparent,#878a7b);
                        outline: none;
                    }
                    textarea {
                        width: 85%;
                        border: none;
                        border-bottom: solid 2px #E4E4D9;
                        background: transparent;
                        font-family: 'Zen Loop', cursive;
                        font-size: 18px;
                        color: #ffff;
                        font-weight: bold;
                        resize: none;
                    }
                    textarea:focus {
                        background: linear-gradient(to bottom, transparent,#878a7b);
                        outline: none;
                    }
                    .boton {
                        width: 85%;
                        background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
                        font-size: 15px;
                        font-family: 'Zen Loop', cursive;
                        border: none;
                    }
                    .boton:focus {
                        border:solid 2px #E4E4D9 ;
                    } 
                }
            
            }
        }   
    }
} 

 /* Seccion NOSOTROS */
 
.NosotrosGrid {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
    display: grid;
    grid-template-columns: repeat(2, 50% 50%);
    grid-template-rows: 300px 300px 300px 500px 500px;
   grid-template-areas: 
   "aside article"
   "aside article" 
   "aside article"  
   "divimg divimg" 
   "divm divm";

   &__asideMacetas {
    grid-area: aside;
    background: url(../imagenes/MacetasNosotros.png);
    background-size: cover;
    background-position: bottom;
    box-sizing: border-box;
    border-bottom: solid 1px #4B5035;
    border-top: solid 1px #4B5035;
    }

    &__article {
        grid-area: article;
        border-bottom: solid 1px #4B5035;
        border-top: solid 1px #4B5035;
        background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
        text-align: center;
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;

        h1 {
            color: #4B5035;
            font-family: 'Great Vibes', cursive;
            font-size: 60px;
            padding: 10px;
            margin: 50px;
        }

        p {
            font-family: 'Zen Loop', cursive;
            font-weight: bold;
            color: #4B5035;
            font-size: 40px;
            margin: 50px;       
        }
    }

    &__asideVelas {
        grid-area: divimg;
        background-image: url(../imagenes/VelasNosotros.png);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        border-bottom: solid 1px #4B5035;
    }

    &__articleProductos {
        grid-area: divm;
        display: grid;
        grid-template-columns: repeat(2, 50% 50%); 
        grid-template-areas: 
        "gridDivMacetas gridDivVelas"
    }

    &__articleProductos--macetas {
        grid-area: gridDivMacetas; 
        display: flex;
        flex-direction: column;
        text-align: center;

        div {
        background-image: url(../imagenes/MacetasNosotros__div.png);
        background-size: cover;
        background-position: center;
        border: solid 1px #4B5035;
        width: 85%;
        height: 60%;
        margin-right: auto;
        margin-left: auto;
        }
        h2 {
            font-family: 'Zen Loop', cursive;
            font-weight: bold;
            color: #4B5035;
            font-size: 30px;
        }
        a {
            font-family: Arial, Helvetica, sans-serif;
            color: #4B5035;
            font-size: 15px;
            padding: 10px;
        }
    }
    &__articleProductos--velas {
        grid-area: gridDivVelas;
        display: flex;
        flex-direction: column;
        text-align: center;

        div {
            background-image: url(../imagenes/VelasNosotros__div.png);
            background-size: cover;
            background-position: center;
            border: solid 1px #4B5035;
            width: 85%;
            height: 60%;
            margin-right: auto;
            margin-left: auto;   
        }
        h2 {
            font-family: 'Zen Loop', cursive;
            font-weight: bold;
            color: #4B5035;
            font-size: 30px;
        }
        a {
            font-family: Arial, Helvetica, sans-serif;
            color: #4B5035;
            font-size: 15px;
            padding: 10px;
        }
    }
}
/* SECCIONES MACETAS - VELAS */ 

.divMacetas__sección--title {
   
    width: 100%;
    height: 300px;
    border-top: solid 1px #4B5035;
    background-image: url(../imagenes/nuestrasMacetas.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.divVelas__sección--title {
   
    width: 100%;
    height: 300px;
    border-top: solid 1px #4B5035;
    background-image: url(../imagenes/nuestrasVelas.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.container {
    width: 80%;
    margin-top: 2vh;

    .col-md-4 {
        padding-bottom: 10px;
        
        .img-thumbnail {
            background-color: #E4E4D9;
            border: 1px solid #4B5035;
        }

        aside {
           
            h2 {
                font-family: 'Zen Loop', cursive;
                font-weight: bold;
                color: #4B5035;
                font-size: 30px;
                text-align: center;
            }
            p {
                color: #4B5035;
                font-size: 15px;
                padding: 10px;
                text-align: center;
            }
            span {
                color: #4B5035;
                font-size: 15px;
                padding: 10px;  
                font-weight: bold;
            }
            .btn-primary {
                color: #4B5035;
                background-color: transparent;
                border-color: #4B5035;
            }
            .btn-check:focus+.btn-primary, .btn-primary:focus {
                color: #4B5035;
                background-color: transparent;
                border-color: #4B5035;
                box-shadow: 0 0 0 0.25rem #4B5035 ;
            }
            .btn-primary:hover {
                color: #4B5035;
                background-color: transparent;
                border-color: #4B5035;
            }
            .card {
                background-color: transparent;
            }
        }
    }
}

/* SECCION CONTACTO */

.logoContacto {
   
    width: 100%;
    height: 300px;
    border-top: solid 1px #4B5035;
    background-image: url(../imagenes/RegalaMomentosUnicos.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.ContenedorSeccionContacto {
    width: 100%;
    box-sizing: border-box;
    padding-top: 10vh;
    padding-bottom: 10vh;

    &__divGrid {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        height: 85%;
        box-sizing: border-box;
        border: solid 5px #ffff;
        background-color: #b0b3a3;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas:
        "mapa formulario" 
    }

    &__divGrid:hover {
        transform: scale(110%, 110%);
        transition: 2.3s;
    }

    .ContenedorSeccionContacto__divGrid--gridItem__1 {
        grid-area: mapa;
        align-self: center;
        justify-self: center;
        margin: 3vh;
        width: 95%;
        height: 90%;
    }

    .ContenedorSeccionContacto__divGrid--gridItem__2 {
        grid-area: formulario;
        align-self: center;
        justify-self: center;
        margin: 3vh;
        width: 95%;
        height: 90%;
        border: none;
       
        &--form {
            display: flex;
            flex-direction: column;
            align-items: center; 
            
            legend {
                font-size: 40px;
                font-family: 'Zen Loop', cursive;
                color: #ffff; 
            }
            label {
                font-size: 20px;
                font-family: 'Zen Loop', cursive;
                color: #ffff;
            }
            select {
                margin: 1px;
                padding: 7px;
                font-size: 15px;
                text-align: center;
                font-family: 'Zen Loop', cursive;
                color: #24261a; 
                background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
                width: 85%;
                border: none;
            }
            input {
                width: 85%;
                padding: 3px;
                margin-top: 10px ;
                border: none;
                border-bottom: solid 2px #E4E4D9;
                background: transparent;
                font-family: 'Zen Loop', cursive;
                font-size: 18px;
                color: #ffff;
                font-weight: bold;
            }
            input:focus{
                background: linear-gradient(to bottom, transparent,#878a7b);
                outline: none;
            }
            textarea {
                width: 85%;
                border: none;
                border-bottom: solid 2px #E4E4D9;
                background: transparent;
                font-family: 'Zen Loop', cursive;
                font-size: 18px;
                color: #ffff;
                font-weight: bold;
                resize: none;
            }
            textarea:focus {
                background: linear-gradient(to bottom, transparent,#878a7b);
                outline: none;
            }
            .boton {
                width: 85%;
                background: linear-gradient(to bottom, #c4bcbb, #E4E4D9);
                font-size: 15px;
                font-family: 'Zen Loop', cursive;
                border: none;
            }
            .boton:focus {
                border:solid 2px #E4E4D9 ;
            } 
        }
    }    
}


/* footer */

.pie {
    background: linear-gradient(to bottom, #E4E4D9, #c4bcbb);
    display: flex;
    flex-direction: row; 
    width: 100%;
    height: 200px;   
    border-top: solid 1px #4B5035;

    &Div__img {
        flex: 1;
        
        img {
            margin: 0;
            padding: 0;
            width: 10rem;
        }  
    }

    &Div__centrado {
        display: flex;
        flex-direction: column;
        flex: 2; 
        align-items: center; 
        justify-content: center; 

        .pieDiv__title {
            display: flex;
            flex-direction: row;
            margin-top: 15px;
            flex: 1;
            
            .pie__title--title  {
                font-family: 'Great Vibes', cursive;
                color: #4B5035;
                font-size: 20px; 
            } 
            .pie__title--complemento {
                color: #4B5035;
                font-size: 20px;   
            }
        }
        
        .pieDiv__liHorarios {
            display: flex;
            flex-direction: column;
            flex: 2;
    
            .pieDiv__liHorarios--title {
                color: #4B5035; 
                margin: auto;
                padding: 0%;  
                justify-content: center;  
            }
            .pie__lista {
                li {
                    color: #4B5035;
                    font-family: 'Zen Loop', cursive;
                    list-style-type: none;
                    text-decoration: none;
                }
            }
        }
    }
    
    .pieDiv__liIcon{
        flex: 1;

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            padding: 15px;
            color: #4B5035;
            justify-content: space-around;

            .pieDiv__liIcon--li {
                list-style-type: none; 
                
                a {
                    text-decoration: none;
                    font-size: 2rem;
                    color: #4B5035;  
                    display: flex;
                    flex-direction: row;  
                }
            }
        }
    }
}