@import "./variables";

html body {
   margin: 0%;
   padding: 0%;
   background: linear-gradient(to bottom, $segundo-color, $primer-color); 
}

/*header*/

.navContenedor {
    box-sizing: content-box;
    margin: auto;
    padding: 0px;
    background: linear-gradient(to bottom, $primer-color, $segundo-color);
    width: 100%;
    height: 7rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width:576px) and (min-width:300px){
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    }
    
    &__logo {
        margin-top: 0%;
        margin-left: 0%;
        width: 5rem; 
        height: 5rem;
        
    }
    
    &__lista {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        padding: 15px;
        color: $tercer-color;
       
        
        
        &--item {
            margin: 10px;
            align-items: center; 

            @media (max-width:576px) and (min-width:300px){
                margin: 0;
                padding: 1px;
            }

            i {
                margin-right: 10px;
                font-size: 25px;  

                @media (max-width:576px) and (min-width:300px){
                    display: none;
                }
            }
            a {
                text-decoration: none;
                font-family: $tercera-fuente;
                font-size: 24px;
                padding-right: 10px;
                color: $tercer-color; 
               
                @media (max-width:576px) and (min-width:300px){
                    font-size: 11px;
                    font-weight: bolder;
                    align-items: center;
                } 
            }
       }
    }
}

/* INDEX */

.divPrincipal {
    width: 80%;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../imagenes/Imagen-de-Pexels-en-Pixabay.png);
    background-size: cover;
    background-color: rgb(80, 75, 75);
    background-blend-mode: soft-light;
    box-sizing: border-box;
    border-bottom: solid 1px $tercer-color;
    border-top: solid 1px $tercer-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width:576px) and (min-width:300px){
        width: 100%;
        background-position: center;    
        
    }

    div {
        text-align: center;

        a {
            text-decoration: none;
        }
        .divPrincipal__title {
            color: $primer-color;
            font-family: $primer-fuente;
            font-size: 60px;
        }
        .nosotros__parrafo {
            font-family: $segunda-fuente;
            font-size: 30px;
            color: $primer-color;
        }
    }
}

main { 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to bottom, $segundo-color, $primer-color); 

    @media (max-width:576px) and (min-width:300px){
        width: 100%;     
    }

    .divContenedor {
        display: grid;
        grid-template-columns: repeat(2, 50% 50%);
        grid-template-rows: repeat(3, 650px);
       grid-template-areas: 
       "articlev asidev" 
       "articlem asidem" 
       "articlec articlec";

       @media (max-width:576px) and (min-width:300px){
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(5, 400px);
        grid-template-areas: 
        "velasAside velasAside"
        "imgVelas imgVelas"
        "asideMacetas asideMacetas"
        "imgMacetas imgMacetas"
        "cont cont";
    }

       &__velas--article {
        grid-area: articlev;
        height: 650px;
        background-image: url(../imagenes/velasindex.png);
        background-size: cover;
        box-sizing: border-box;
        border-bottom: solid 1px $tercer-color;

        @media (max-width:576px) and (min-width:300px) {
            grid-area: imgVelas;
            height: 100%;
        }

       }
       &__velas--aside {
        grid-area: asidev;
        background: linear-gradient(to bottom,$segundo-color, $primer-color);
        
        @media (max-width:576px) and (min-width:300px) {
            grid-area: velasAside;
            height: 100%;
        }
        
        @include aside-inicio ();

            div {
                align-items: start;
                box-sizing: border-box;
                margin: 50px;

                @media (max-width:576px) and (min-width:300px) {
                    margin: 5px; 
                }

                h2 {
                    color: $tercer-color;
                    font-family: $primer-fuente;
                    font-size: 60px;
                    @media (max-width:576px) and (min-width:300px) {
                        font-size: 30px;
                    }
                }
                p {
                    font-family: $segunda-fuente;
                    font-weight: bold;
                    color: $tercer-color;
                    font-size: 40px;
                    @media (max-width:576px) and (min-width:300px) {
                        font-size: 20px;
                    }
                }
                a {
                    font-family: $tercera-fuente;
                    color: $tercer-color;
                    font-size: 30px;
                    @media (max-width:576px) and (min-width:300px) {
                        font-size: 15px;
                    }
                }
            }    
       }
       &__macetas--article {
            grid-area: asidem;
            background-image: url(../imagenes/macetas.png);
            background-size: cover;
            background-position: right;
            box-sizing: border-box;
            border-bottom: solid 1px $tercer-color;

            @media (max-width:576px) and (min-width:300px) {
                grid-area: imgMacetas;
                border-top: solid 1px $tercer-color;
                border-bottom: solid 1px $tercer-color;
            }

        }
    
        &__macetas--aside {
            grid-area: articlem;
            background: linear-gradient(to bottom, $primer-color, $segundo-color);
           
            @media (max-width:576px) and (min-width:300px) {
                grid-area: asideMacetas;
                height: 100%;
            }

            @include aside-inicio ();

            div {
                align-items: start;
                box-sizing: border-box;
                margin: 50px;

                h2 {
                    color: $tercer-color;
                    font-family: $primer-fuente;
                    font-size: 60px;

                    @media (max-width:576px) and (min-width:300px) {
                        font-size: 30px;
                    }
                }

                p {
                    font-family: $segunda-fuente;
                    font-weight: bold;
                    color: $tercer-color;
                    font-size: 40px;

                    @media (max-width:576px) and (min-width:300px) {
                        font-size: 20px;
                    }
                }

                a {
                    font-family: $tercera-fuente;
                    color: $tercer-color;
                    font-size: 30px;

                    @media (max-width:576px) and (min-width:300px) {
                        font-size: 15px;
                    }
                }
            }
        }
        &__contacto--article {
            grid-area: articlec;
            height: 650px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            background: linear-gradient(to bottom, $segundo-color, $primer-color);
            @media (max-width:576px) and (min-width:300px) {
                grid-area: cont;
                height: 100%;
            }
            

            &--div {
                width: 85%;
                margin-left: auto;
                margin-right: auto;
                height: 85%;
                box-sizing: border-box;
                border: solid 5px #ffff;
                background-color: #b0b3a3;
                display: grid;
                grid-template-columns: repeat(2, 50%);
                grid-template-areas:
                "formulario formulario";
                
                
            }
               
            &--div:hover {
                transform: scale(110%, 110%);
                transition: 2.3s;
            }

            /* .gridItem__1 {
                grid-area: map;
                align-self: center;
                justify-self: center;
                margin: 3vh;
                width: 95%;
                height: 90%;

                
            }*/
             
            .gridItem2 {
                grid-area: formulario;
                @include contactoGridItem ();
                .gridItem__2--form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    legend {
                        font-size: 40px;
                        font-family: $segunda-fuente;
                        color: #ffff;
                        @media (max-width:576px) and (min-width:300px) {
                            font-size: 20px;
                        } 
                    }
                    label {
                        font-size: 20px;
                        font-family: $segunda-fuente;
                        color: #ffff;
                        @media (max-width:576px) and (min-width:300px) {
                            font-size: 12px;
                            height: max-content;
                        }
                    }
                    select {
                        margin: 1px;
                        padding: 7px;
                        font-size: 15px;
                        text-align: center;
                        font-family: $segunda-fuente;
                        color: #24261a; 
                        background: linear-gradient(to bottom, $segundo-color, $primer-color);
                        width: 85%;
                        border: none;
                        @media (max-width:576px) and (min-width:300px) {
                            font-size: 10px;
                        }
                    }
                    input {
                        width: 85%;
                        padding: 3px;
                        margin-top: 10px ;
                        border: none;
                        border-bottom: solid 2px $primer-color;
                        background: transparent;
                        font-family: $segunda-fuente;
                        font-size: 18px;
                        color: #ffff;
                        font-weight: bold;
                        @media (max-width:576px) and (min-width:300px) {
                            font-size: 12px;
                        }
                    }
                    input:focus{
                        background: linear-gradient(to bottom, transparent,#878a7b);
                        outline: none;
                    }
                    textarea {
                        width: 85%;
                        border: none;
                        border-bottom: solid 2px $primer-color;
                        background: transparent;
                        font-family: $segunda-fuente;
                        font-size: 18px;
                        color: #ffff;
                        font-weight: bold;
                        resize: none;
                        @media (max-width:576px) and (min-width:300px) {
                            font-size: 12px;
                            height: 100px;
                        }
                    }
                    textarea:focus {
                        background: linear-gradient(to bottom, transparent,#878a7b);
                        outline: none;
                    }

                    div {
                        @media (max-width:576px) and (min-width:300px) {
                            display: none;
                        }
                    }
                    .boton {
                        width: 85%;
                        background: linear-gradient(to bottom, $segundo-color, $primer-color);
                        font-size: 15px;
                        font-family: $segunda-fuente;
                        border: none;
                        @media (max-width:576px) and (min-width:300px) {
                            font-size: 10px;
                        }
                    }
                    .boton:focus {
                        border:solid 2px $primer-color ;
                    } 
                }
            
            }
        }   
    }
} 

 /* Seccion NOSOTROS */
 
.NosotrosGrid {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to bottom, $segundo-color, $primer-color);
    display: grid;
    grid-template-columns: repeat(2, 50% 50%);
    grid-template-rows: 300px 300px 300px 500px 500px;
   grid-template-areas: 
   "aside article"
   "aside article" 
   "aside article"  
   "divimg divimg" 
   "divm divm";

   @media (max-width:576px) and (min-width:300px){
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, 400px);
    grid-template-areas: 
    "presentacion presentacion"
    "presentacionImg presentacionImg"
    "ScrolImg ScrolImg"
    "productos productos"
    "productos productos";
    
    .NosotrosGrid__article {
        grid-area: presentacionImg;
        width: 100%;
        
        h1 {
            color: $tercer-color;
            font-family: $primer-fuente;
            font-size: 3em;
            padding: 0;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 0px;
        }
        p { 
            font-size: 1.5em;
            margin: 30px;       
        }
    }
    .NosotrosGrid__asideMacetas {
        grid-area: presentacion;
        width: 100%;
        background-size: cover;
        background-position:right;
        
    }
    .NosotrosGrid__asideVelas {
        grid-area: ScrolImg;
        width: 100%;
    }
    
    .NosotrosGrid__articleProductos {
        grid-area: productos;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 400px);
        grid-template-areas: 
        "prodMac prodMac"
        "prodVel prodVel";

        .NosotrosGrid__articleProductos--macetas {
            grid-area: prodMac;
            width: 100%;
        }
        .NosotrosGrid__articleProductos--velas {
            grid-area: prodVel;
            width: 100%;
        }
    }

    }

   &__asideMacetas {
    grid-area: aside;
    background: url(../imagenes/MacetasNosotros.png);
    background-size: cover;
    background-position: bottom;
    box-sizing: border-box;
    border-bottom: solid 1px $tercer-color;
    border-top: solid 1px $tercer-color;
    }

    &__article {
        grid-area: article;
        border-bottom: solid 1px $tercer-color;
        border-top: solid 1px $tercer-color;
        background: linear-gradient(to bottom, $segundo-color, $primer-color);
        text-align: center;
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;

        h1 {
            color: $tercer-color;
            font-family: $primer-fuente;
            font-size: 2em;
            padding: 10px;
            margin: 50px;
        }

        p {
            font-family: $segunda-fuente;
            font-weight: bold;
            color: $tercer-color;
            font-size: 2em;
            margin: 50px;       
        }
    }

    &__asideVelas {
        grid-area: divimg;
        background-image: url(../imagenes/VelasNosotros.png);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        border-bottom: solid 1px $tercer-color;
    }

    &__articleProductos {
        grid-area: divm;
        display: grid;
        grid-template-columns: repeat(2, 50% 50%); 
        grid-template-areas: 
        "gridDivMacetas gridDivVelas"
    }

    &__articleProductos--macetas {
        grid-area: gridDivMacetas; 
        display: flex;
        flex-direction: column;
        text-align: center;

        div {
        background-image: url(../imagenes/MacetasNosotros__div.png);
        background-size: cover;
        background-position: center;
        border: solid 1px $tercer-color;
        width: 85%;
        height: 60%;
        margin-right: auto;
        margin-left: auto;
        }
        h2 {
            font-family: $segunda-fuente;
            font-weight: bold;
            color: $tercer-color;
            font-size: 30px;
        }
        a {
            font-family: $tercera-fuente;
            color: $tercer-color;
            font-size: 15px;
            padding: 10px;
        }
    }
    &__articleProductos--velas {
        grid-area: gridDivVelas;
        display: flex;
        flex-direction: column;
        text-align: center;

        div {
            background-image: url(../imagenes/VelasNosotros__div.png);
            background-size: cover;
            background-position: center;
            border: solid 1px $tercer-color;
            width: 85%;
            height: 60%;
            margin-right: auto;
            margin-left: auto;   
        }
        h2 {
            font-family: $segunda-fuente;
            font-weight: bold;
            color: $tercer-color;
            font-size: 30px;
        }
        a {
            font-family: $tercera-fuente;
            color: $tercer-color;
            font-size: 15px;
            padding: 10px;
        }
    }
}
/* SECCIONES MACETAS - VELAS */ 

.divMacetas__sección--title {
   
    @include logo ();
}

.divVelas__sección--title {
   
    @include logo ();
}

.container {
    width: 80%;
    margin-top: 2vh;

    .col-md-4 {
        padding-bottom: 10px;
        
        .img-thumbnail {
            background-color: transparent;
            border: 1px solid $tercer-color;
        }

        aside {
           
            h2 {
                font-family: $segunda-fuente;
                font-weight: bold;
                color: $tercer-color;
                font-size: 30px;
                text-align: center;
            }
            p {
                color: $tercer-color;
                font-size: 15px;
                padding: 10px;
                text-align: center;
            }
            span {
                color: $tercer-color;
                font-size: 15px;
                padding: 10px;  
                font-weight: bold;
            }
            .btn-primary {
                color: $tercer-color;
                background-color: transparent;
                border-color: $tercer-color;
            }
            .btn-check:focus+.btn-primary, .btn-primary:focus {
                color: $tercer-color;
                background-color: transparent;
                border-color: $tercer-color;
                box-shadow: 0 0 0 0.25rem $tercer-color ;
            }
            .btn-primary:hover {
                color: $tercer-color;
                background-color: transparent;
                border-color: $tercer-color;
            }
            .card {
                background-color: transparent;
            }
        }
    }
}

/* SECCION CONTACTO */

.logoContacto {
   
   @include logo ();
}

.ContenedorSeccionContacto {
    width: 100%;
    box-sizing: border-box;
    padding-top: 10vh;
    padding-bottom: 10vh;

    &__divGrid {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        height: 85%;
        box-sizing: border-box;
        border: solid 5px #ffff;
        background-color: #b0b3a3;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas:
        "mapa formulario" 
    }

    &__divGrid:hover {
        transform: scale(110%, 110%);
        transition: 2.3s;
    }

    .ContenedorSeccionContacto__divGrid--gridItem__1 {
        grid-area: mapa;
        align-self: center;
        justify-self: center;
        margin: 3vh;
        width: 95%;
        height: 90%;
    }

    .ContenedorSeccionContacto__divGrid--gridItem__2 {
        grid-area: formulario;
        @include contactoGridItem ();
       
        &--form {
            display: flex;
            flex-direction: column;
            align-items: center; 
            
            legend {
                font-size: 40px;
                font-family: $segunda-fuente;
                color: #ffff; 
            }
            label {
                font-size: 20px;
                font-family: $segunda-fuente;
                color: #ffff;
            }
            select {
                margin: 1px;
                padding: 7px;
                font-size: 15px;
                text-align: center;
                font-family: $segunda-fuente;
                color: #24261a; 
                background: linear-gradient(to bottom, $segundo-color, $primer-color);
                width: 85%;
                border: none;
            }
            input {
                width: 85%;
                padding: 3px;
                margin-top: 10px ;
                border: none;
                border-bottom: solid 2px $primer-color;
                background: transparent;
                font-family: $segunda-fuente;
                font-size: 18px;
                color: #ffff;
                font-weight: bold;
            }
            input:focus{
                background: linear-gradient(to bottom, transparent,#878a7b);
                outline: none;
            }
            textarea {
                width: 85%;
                border: none;
                border-bottom: solid 2px $primer-color;
                background: transparent;
                font-family: $segunda-fuente;
                font-size: 18px;
                color: #ffff;
                font-weight: bold;
                resize: none;
            }
            textarea:focus {
                background: linear-gradient(to bottom, transparent,#878a7b);
                outline: none;
            }
            .boton {
                width: 85%;
                background: linear-gradient(to bottom, $segundo-color, $primer-color);
                font-size: 15px;
                font-family: $segunda-fuente;
                border: none;
            }
            .boton:focus {
                border:solid 2px $primer-color ;
            } 
        }
    }    
}


/* footer */

.pie {
    background: linear-gradient(to bottom, $primer-color, $segundo-color);
    display: flex;
    flex-direction: row; 
    width: 100%;
    height: 200px;   
    border-top: solid 1px $tercer-color;

    @media (max-width:576px) and (min-width:300px) {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns:repeat(2, 50%);
        grid-template-rows: 1fr, 2fr;
        grid-template-areas:
        "klogo klogo"
        "texto texto";
    
        &Div__img {
            grid-area: klogo;
            text-align: center;
        }

        &Div__centrado {
            grid-area: texto;
            .pieDiv__title { 
                p {
                    margin-top: 0px;
                }
            }
            .pieDiv__liHorarios{
                .pie__lista{
                    margin: 0%;
                    li{
                        text-align: center;
                        margin-right: 50px;
                    }
                }
            }
            .pieDiv__liIcon ul li {
                padding: 1em;
            }
        }
    }

    &Div__img {
        flex: 1;
        
        img {
            margin: 0;
            padding: 0;
            width: 10rem;
        }  
    }

    &Div__centrado {
        display: flex;
        flex-direction: column;
        flex: 2; 
        align-items: center; 
        justify-content: center; 
        
        
        .pieDiv__title {
            display: flex;
            flex-direction: row;
            margin-top: 15px;
            flex: 1;
            
            
            
            .pie__title--title  {
                font-family: $primer-fuente;
                color: $tercer-color;
                font-size: 20px; 
                
            } 
            
        }
        
        .pieDiv__liHorarios {
            display: flex;
            flex-direction: column;
            flex: 2;
            
    
            .pieDiv__liHorarios--title {
                color: $tercer-color; 
                margin: auto;
                padding: 0%;  
                justify-content: center;  
            }
            .pie__lista {
                li {
                    color: $tercer-color;
                    font-family: $segunda-fuente;
                    list-style-type: none;
                    text-decoration: none;
                }
            }
        }
    }
    
    .pieDiv__liIcon{
        flex: 1;
        
        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            padding: 15px;
            color: $tercer-color;
            justify-content: space-around;
            
            .pieDiv__liIcon--li {
                list-style-type: none; 
                
                a {
                    text-decoration: none;
                    font-size: 2rem;
                    color: $tercer-color;  
                    display: flex;
                    flex-direction: row;  
                }
            }
        }
    }
}