@import "./variables";

html body {
   margin: 0%;
   padding: 0%;
   background: linear-gradient(to bottom, $segundo-color, $primer-color); 
}

/*header*/

.navContenedor {
    box-sizing: content-box;
    margin: auto;
    padding: 0px;
    background: linear-gradient(to bottom, $primer-color, $segundo-color);
    width: 100%;
    height: 7rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width:812px) and (min-width:300px){
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    }
    
    &__logo {
        margin-top: 0%;
        margin-left: 0%;
        width: 5rem; 
        height: 5rem;
        
    }
    button{
       
        background-color: transparent;
        border: 0px;
        font-size: 35px;
        color: $tercer-color;
        cursor: pointer;
    }
    

    &__lista {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        padding: 15px;
        color: $tercer-color;
        margin-top: auto;
        margin-bottom: auto;
        
        
        &--item {
            margin: 10px;
            align-items: center; 

            @media (max-width:812px) and (min-width:300px){
                margin: 0;
                padding: 1px;
            }

            i {
                margin-right: 10px;
                font-size: 25px;  

                @media (max-width:576px) and (min-width:300px){
                    display: none;
                }
                @media (max-width:812px) and (min-width:576px){
                    font-size: 18px;
                }
            }
            a {
                text-decoration: none;
                font-family: $tercera-fuente;
                font-size: 24px;
                padding-right: 10px;
                color: $tercer-color; 
               
                @media (max-width:576px) and (min-width:300px){
                    font-size: 11px;
                    font-weight: bolder;
                    align-items: center;
                } 
                @media (max-width:812px) and (min-width:576px){
                    font-size: 15px;
                }
            }
       }
       
    }
}

.panel-carrito{
    position:fixed;
    z-index: 998;
    background-color:#c4bcbbea ;
    width: 25%;
    top: 0;
    bottom: 0;
    right: 0;
    transition: transform .3s ease;
    transform: translate(100%, 0);
    padding: 2vh;
    
    button{
        position: fixed;
        z-index: 1000;
        top: 3vh;
        right: 1vw;
        background: transparent;
        border: transparent;
        font-size: 35px;
        color: $tercer-color;
        cursor: pointer;
        display: block;
        
    }
     &-contenedor{
        
        .article-carrito{
            display: flex;
            align-items: center;
            
            margin: 1vh;
            
        }

        .img-carrito{
            width: 8vh;
            background-color: transparent;
            border: 1px solid $tercer-color;
            margin: 1vh;
            flex-grow: 1;
        }

        .aside-carrito{
            h2{
                font-size: 3vh;
                font-family: $primer-fuente;
            }
            span{
                font-size: 2vh;
                font-family: $segunda-fuente;
                color: $tercer-color;
               
            }
        }
    }
}
.panel-carrito.activo{
    transform: translate(0,0);
}

/* INDEX */

.divPrincipal {
    width: 80%;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../imagenes/Imagen-de-Pexels-en-Pixabay.png);
    background-size: cover;
    background-color: rgb(80, 75, 75);
    background-blend-mode: soft-light;
    box-sizing: border-box;
    border-bottom: solid 1px $tercer-color;
    border-top: solid 1px $tercer-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width:576px) and (min-width:300px){
        width: 100%;
        background-position: center;    
        
    }
    @media (max-width:812px) and (min-width:576px){
        width: 100%;
        background-position: center;
        height: 400px;
    }

    div {
        text-align: center;

        a {
            text-decoration: none;
        }
        .divPrincipal__title {
            color: $primer-color;
            font-family: $primer-fuente;
            font-size: 60px;
            @media (max-width:812px) and (min-width:576px){
                font-size: 50px;
            }
        }
        .nosotros__parrafo {
            font-family: $segunda-fuente;
            font-size: 30px;
            color: $primer-color;
            @media (max-width:812px) and (min-width:576px){
                font-size: 30px;
                margin-right:30px;
                margin-left: 30px;
            }
        }
    }
}

main { 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to bottom, $segundo-color, $primer-color); 

    @media (max-width:812px) and (min-width:300px){
        width: 100%;     
    }
    

    .divContenedor {
        display: grid;
        grid-template-columns: repeat(2, 50% 50%);
        grid-template-rows: repeat(3, 650px);
       grid-template-areas: 
       "articlev asidev" 
       "articlem asidem" 
       "articlec articlec";

       @media (max-width:812px) and (min-width:300px){
            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: repeat(5, 400px);
            grid-template-areas: 
            "velasAside velasAside"
            "imgVelas imgVelas"
            "asideMacetas asideMacetas"
            "imgMacetas imgMacetas"
            "cont cont";
        }

       &__velas--article {
        grid-area: articlev;
        height: 650px;
        background-image: url(../imagenes/velasindex.png);
        background-size: cover;
        box-sizing: border-box;
        border-bottom: solid 1px $tercer-color;

        @media (max-width:812px) and (min-width:300px) {
            grid-area: imgVelas;
            height: 100%;
        }

       }
       &__velas--aside {
        grid-area: asidev;
        background: linear-gradient(to bottom,$segundo-color, $primer-color);
        
        @media (max-width:812px) and (min-width:300px) {
            grid-area: velasAside;
            height: 100%;
        }
        
        @include aside-inicio ();

            div {
                align-items: start;
                box-sizing: border-box;
                margin: 50px;

                @media (max-width:812px) and (min-width:300px) {
                    margin: 5px; 
                }

                h2 {
                    color: $tercer-color;
                    font-family: $primer-fuente;
                    font-size: 60px;
                    @media (max-width:576px) and (min-width:300px) {
                        font-size: 30px;
                    }
                    @media (max-width:812px) and (min-width:576px) {
                        font-size: 50px;
                    }
                }
                p {
                    font-family: $segunda-fuente;
                    font-weight: bold;
                    color: $tercer-color;
                    font-size: 40px;
                    @media (max-width:576px) and (min-width:300px) {
                        font-size: 20px;
                    }
                    @media (max-width:812px) and (min-width:576px) {
                        font-size: 25px;
                        margin-right: 30px;
                        margin-left: 30px;
                    }
                }
                a {
                    font-family: $tercera-fuente;
                    color: $tercer-color;
                    font-size: 30px;
                    @media (max-width:812px) and (min-width:300px) {
                        font-size: 15px;
                    }
                }
            }    
       }
       &__macetas--article {
            grid-area: asidem;
            background-image: url(../imagenes/macetas.png);
            background-size: cover;
            background-position: right;
            box-sizing: border-box;
            border-bottom: solid 1px $tercer-color;

            @media (max-width:576px) and (min-width:300px) {
                grid-area: imgMacetas;
                border-top: solid 1px $tercer-color;
                border-bottom: solid 1px $tercer-color;
            }
            @media (max-width:812px) and (min-width:576px) {
                grid-area: imgMacetas;
                border-top: solid 1px $tercer-color;
                border-bottom: solid 1px $tercer-color;
            }

        }
    
        &__macetas--aside {
            grid-area: articlem;
            background: linear-gradient(to bottom, $primer-color, $segundo-color);
           
            @media (max-width:812px) and (min-width:300px) {
                grid-area: asideMacetas;
                height: 100%;
            }

            @include aside-inicio ();

            div {
                align-items: start;
                box-sizing: border-box;
                margin: 50px;

                h2 {
                    color: $tercer-color;
                    font-family: $primer-fuente;
                    font-size: 60px;

                    @media (max-width:576px) and (min-width:300px) {
                        font-size: 30px;
                    }
                    @media (max-width:812px) and (min-width:576px) {
                        font-size: 50px;
                    }
                }

                p {
                    font-family: $segunda-fuente;
                    font-weight: bold;
                    color: $tercer-color;
                    font-size: 40px;

                    @media (max-width:576px) and (min-width:300px) {
                        font-size: 20px;
                    }
                    @media (max-width:812px) and (min-width:576px) {
                        font-size: 30px;
                        margin-right: 30px;
                        margin-left: 30px;
                    }
                }

                a {
                    font-family: $tercera-fuente;
                    color: $tercer-color;
                    font-size: 30px;

                    @media (max-width:576px) and (min-width:300px) {
                        font-size: 15px;
                    }
                    @media (max-width:812px) and (min-width:576px) {
                        font-size: 15px;
                    }
                }
            }
        }
        &__contacto--article {
            grid-area: articlec;
            height: 650px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            background: linear-gradient(to bottom, $segundo-color, $primer-color);
            @media (max-width:812px) and (min-width:300px) {
                grid-area: cont;
                height: 100%;
            }

            &--div {
                width: 85%;
                margin-left: auto;
                margin-right: auto;
                height: 85%;
                box-sizing: border-box;
                border: solid 5px #ffff;
                background-color: #b0b3a3;
                display: grid;
                grid-template-columns: repeat(2, 50%);
                grid-template-areas:
                "formulario formulario";
                
                
            }
               
            &--div:hover {
                transform: scale(110%, 110%);
                transition: 2.3s;
            }
            .gridItem2 {
                grid-area: formulario;
                @include contactoGridItem ();
                .gridItem__2--form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    legend {
                        font-size: 40px;
                        font-family: $segunda-fuente;
                        color: #ffff;
                        @media (max-width:576px) and (min-width:300px) {
                            font-size: 20px;
                        }
                        @media (max-width:812px) and (min-width:576px) {
                            font-size: 30px;
                        }
                         
                    }
                    label {
                        font-size: 20px;
                        font-family: $segunda-fuente;
                        color: #ffff;
                        @media (max-width:576px) and (min-width:300px) {
                            font-size: 12px;
                            height: max-content;
                        }
                        @media (max-width:812px) and (min-width:576px) {
                            font-size: 18px;
                        }
                    }
                    select {
                        margin: 1px;
                        padding: 7px;
                        font-size: 15px;
                        text-align: center;
                        font-family: $segunda-fuente;
                        color: #24261a; 
                        background: linear-gradient(to bottom, $segundo-color, $primer-color);
                        width: 85%;
                        border: none;
                        @media (max-width:576px) and (min-width:300px) {
                            font-size: 10px;
                        }
                        @media (max-width:812px) and (min-width:576px) {
                            font-size: 13px;
                        }
                    }
                    input {
                        width: 85%;
                        padding: 3px;
                        margin-top: 10px ;
                        border: none;
                        border-bottom: solid 2px $primer-color;
                        background: transparent;
                        font-family: $segunda-fuente;
                        font-size: 18px;
                        color: #ffff;
                        font-weight: bold;
                        @media (max-width:812px) and (min-width:300px) {
                            font-size: 12px;
                        }
                    }
                    input:focus{
                        background: linear-gradient(to bottom, transparent,#878a7b);
                        outline: none;
                    }
                    textarea {
                        width: 85%;
                        border: none;
                        border-bottom: solid 2px $primer-color;
                        background: transparent;
                        font-family: $segunda-fuente;
                        font-size: 18px;
                        color: #ffff;
                        font-weight: bold;
                        resize: none;
                        @media (max-width:576px) and (min-width:300px) {
                            font-size: 12px;
                            height: 100px;
                        }
                        @media (max-width:812px) and (min-width:576px) {
                            font-size: 12px;
                            height: 90px;
                        }
                    }
                    textarea:focus {
                        background: linear-gradient(to bottom, transparent,#878a7b);
                        outline: none;
                    }
                    .boton {
                        width: 85%;
                        height: 25px;
                        margin-top: 40px;
                        background: linear-gradient(to bottom, $segundo-color, $primer-color);
                        font-size: 15px;
                        font-family: $segunda-fuente;
                        border: none;
                        @media (max-width:576px) and (min-width:300px) {
                            font-size: 10px;
                            margin-top: 10px;
                        }
                        @media (max-width:812px) and (min-width:576px) {
                            font-size: 12px;
                        }
                    }
                    .boton:focus {
                        border:solid 2px $primer-color ;
                    } 
                }
            
            }
        }   
    }
} 

 /* Seccion NOSOTROS */
 
.NosotrosGrid {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to bottom, $segundo-color, $primer-color);
    display: grid;
    grid-template-columns: repeat(2, 50% 50%);
    grid-template-rows: 300px 300px 300px 500px 500px;
    grid-template-areas: 
    "aside article"
    "aside article" 
    "aside article"  
    "divimg divimg" 
    "divm divm";

   @media (max-width:812px) and (min-width:300px){
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(5, 400px);
        grid-template-areas: 
        "presentacion presentacion"
        "presentacionImg presentacionImg"
        "ScrolImg ScrolImg"
        "productos productos"
        "productos productos";
    
        .NosotrosGrid__article {
            grid-area: presentacionImg;
            width: 100%;
            
            h1 {
                color: $tercer-color;
                font-family: $primer-fuente;
                font-size: 3em;
                padding: 0;
                margin-right: auto;
                margin-left: auto;
                margin-bottom: 0px;
            }
            p { 
                font-size: 1.5em;
                margin: 30px;       
            }
        }
        .NosotrosGrid__asideMacetas {
            grid-area: presentacion;
            width: 100%;
            background-size: cover;
            background-position:right;
            
        }
        .NosotrosGrid__asideVelas {
            grid-area: ScrolImg;
            width: 100%;
        }
        
        .NosotrosGrid__articleProductos {
            grid-area: productos;
            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: repeat(2, 400px);
            grid-template-areas: 
            "prodMac prodMac"
            "prodVel prodVel";

            .NosotrosGrid__articleProductos--macetas {
                grid-area: prodMac;
                width: 100%;
            }
            .NosotrosGrid__articleProductos--velas {
                grid-area: prodVel;
                width: 100%;
            }
        }
    }
   &__asideMacetas {
    grid-area: aside;
    background: url(../imagenes/MacetasNosotros.png);
    background-size: cover;
    background-position: bottom;
    box-sizing: border-box;
    border-bottom: solid 1px $tercer-color;
    border-top: solid 1px $tercer-color;
    }

    &__article {
        grid-area: article;
        border-bottom: solid 1px $tercer-color;
        border-top: solid 1px $tercer-color;
        background: linear-gradient(to bottom, $segundo-color, $primer-color);
        text-align: center;
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;

        h1 {
            color: $tercer-color;
            font-family: $primer-fuente;
            font-size: 2em;
            padding: 10px;
            margin: 50px;
        }

        p {
            font-family: $segunda-fuente;
            font-weight: bold;
            color: $tercer-color;
            font-size: 2em;
            margin: 50px;       
        }
    }

    &__asideVelas {
        grid-area: divimg;
        background-image: url(../imagenes/VelasNosotros.png);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        border-bottom: solid 1px $tercer-color;
    }

    &__articleProductos {
        grid-area: divm;
        display: grid;
        grid-template-columns: repeat(2, 50% 50%); 
        grid-template-areas: 
        "gridDivMacetas gridDivVelas"
    }

    &__articleProductos--macetas {
        grid-area: gridDivMacetas; 
        display: flex;
        flex-direction: column;
        text-align: center;

        div {
        background-image: url(../imagenes/MacetasNosotros__div.png);
        background-size: cover;
        background-position: center;
        border: solid 1px $tercer-color;
        width: 85%;
        height: 60%;
        margin-right: auto;
        margin-left: auto;
        }
        h2 {
            font-family: $segunda-fuente;
            font-weight: bold;
            color: $tercer-color;
            font-size: 30px;
        }
        a {
            font-family: $tercera-fuente;
            color: $tercer-color;
            font-size: 15px;
            padding: 10px;
        }
    }
    &__articleProductos--velas {
        grid-area: gridDivVelas;
        display: flex;
        flex-direction: column;
        text-align: center;

        div {
            background-image: url(../imagenes/VelasNosotros__div.png);
            background-size: cover;
            background-position: center;
            border: solid 1px $tercer-color;
            width: 85%;
            height: 60%;
            margin-right: auto;
            margin-left: auto;   
        }
        h2 {
            font-family: $segunda-fuente;
            font-weight: bold;
            color: $tercer-color;
            font-size: 30px;
        }
        a {
            font-family: $tercera-fuente;
            color: $tercer-color;
            font-size: 15px;
            padding: 10px;
        }
    }
}
/* SECCIONES MACETAS - VELAS */ 

.divMacetas__sección--title {
   
    @include logo ();
}

.divVelas__sección--title {
   
    @include logo ();
}

.container {
    width: 80%;
    margin-top: 2vh;
    @media (max-width:812px) and (min-width:576px){
        margin-top: 50px;
    }

    .col-md-4 {
        padding-bottom: 10px;
        
        .img-thumbnail {
            background-color: transparent;
            border: 1px solid $tercer-color;
            @media (max-width:812px) and (min-width:576px){
                width: 250px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }

        aside {
           
            h2 {
                font-family: $segunda-fuente;
                font-weight: bold;
                color: $tercer-color;
                font-size: 30px;
                text-align: center;
            }
            p {
                color: $tercer-color;
                font-size: 15px;
                padding: 10px;
                text-align: center;
            }
            span {
                color: $tercer-color;
                font-size: 15px;
                padding: 10px;  
                font-weight: bold;
            }
            .btn-primary {
                color: $tercer-color;
                background-color: transparent;
                border-color: $tercer-color;
            }
            .btn-check:focus+.btn-primary, .btn-primary:focus {
                color: $tercer-color;
                background-color: transparent;
                border-color: $tercer-color;
                box-shadow: 0 0 0 0.25rem $tercer-color ;
            }
            .btn-primary:hover {
                color: $tercer-color;
                background-color: transparent;
                border-color: $tercer-color;
            }
            .card {
                background-color: transparent;
            }
        }
    }
}

/* SECCION CONTACTO */

.logoContacto {
   
   @include logo ();
}

.ContenedorSeccionContacto {
    width: 100%;
    box-sizing: border-box;
    padding-top: 10vh;
    padding-bottom: 10vh;

    &__divGrid {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        height: 85%;
        box-sizing: border-box;
        border: solid 5px #ffff;
        background-color: #b0b3a3;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas:
        "mapa formulario" 
    }

    &__divGrid:hover {
        transform: scale(110%, 110%);
        transition: 2.3s;
    }

    .ContenedorSeccionContacto__divGrid--gridItem__1 {
        grid-area: mapa;
        align-self: center;
        justify-self: center;
        margin: 3vh;
        width: 95%;
        height: 90%;
    }

    .ContenedorSeccionContacto__divGrid--gridItem__2 {
        grid-area: formulario;
        @include contactoGridItem ();
       
        &--form {
            display: flex;
            flex-direction: column;
            align-items: center; 
            
            legend {
                font-size: 40px;
                font-family: $segunda-fuente;
                color: #ffff; 
            }
            label {
                font-size: 20px;
                font-family: $segunda-fuente;
                color: #ffff;
            }
            select {
                margin: 1px;
                padding: 7px;
                font-size: 15px;
                text-align: center;
                font-family: $segunda-fuente;
                color: #24261a; 
                background: linear-gradient(to bottom, $segundo-color, $primer-color);
                width: 85%;
                border: none;
            }
            input {
                width: 85%;
                padding: 3px;
                margin-top: 10px ;
                border: none;
                border-bottom: solid 2px $primer-color;
                background: transparent;
                font-family: $segunda-fuente;
                font-size: 18px;
                color: #ffff;
                font-weight: bold;
            }
            input:focus{
                background: linear-gradient(to bottom, transparent,#878a7b);
                outline: none;
            }
            textarea {
                width: 85%;
                border: none;
                border-bottom: solid 2px $primer-color;
                background: transparent;
                font-family: $segunda-fuente;
                font-size: 18px;
                color: #ffff;
                font-weight: bold;
                resize: none;
            }
            textarea:focus {
                background: linear-gradient(to bottom, transparent,#878a7b);
                outline: none;
            }
            .boton {
                width: 85%;
                background: linear-gradient(to bottom, $segundo-color, $primer-color);
                font-size: 15px;
                font-family: $segunda-fuente;
                border: none;
            }
            .boton:focus {
                border:solid 2px $primer-color ;
            } 
        }
    }   
    @media (max-width:812px) and (min-width:300px){
        .ContenedorSeccionContacto__divGrid {
            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: 400px 250px;
            grid-template-areas:
            "forM forM"
            "maP maP";
            .ContenedorSeccionContacto__divGrid--gridItem__1 {
                grid-area: maP;
            }
            .ContenedorSeccionContacto__divGrid--gridItem__2 {
                grid-area: forM;
    
                &--form {
                    legend {
                        font-size: 20px;
                    }
                    label {
                        font-size: 10px;
                    }
                    select {
                        font-size: 12px;
                    }
                    input {
                        font-size: 10px;
                    }
                    textarea {
                        font-size: 10px;
                    }
                    .boton {
                        font-size: 12px;
                    }
                }
            }
        }
    } 
}  


/* footer */

.pie {
    background: linear-gradient(to bottom, $primer-color, $segundo-color);
    width: 100%;
    height: 200px;   
    border-top: solid 1px #4b503544;

    .pieDiv {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 100px);
        grid-template-areas: 
        "img derechor liicon"
        "img horarios liicon";

    

        &__img {
            grid-area: img;
            text-align: center;
            img {
                width: 10rem;
                margin: 20px;
            }  
        }
        
        &__title {
            grid-area: derechor;
            p {
                text-align: center;
                line-height: 100px;
                font-family: $primer-fuente;
                color: $tercer-color;
                font-size: 20px;     
            } 
        }

        &__liHorarios {
            grid-area: horarios;
            h3 {
                text-align: center;
                color: $tercer-color; 
                margin: 0%;
            }
            .pie__lista {
                text-align: center;
                li {
                    color: $tercer-color;
                    font-family: $segunda-fuente;
                    list-style-type: none;
                    text-decoration: none;
                    margin-right: 50px;
                }
            }
        }
        &__liIcon {
            grid-area: liicon;
            ul {
                list-style-type: none;
                display: flex;
                flex-direction: row;
                color: $tercer-color;
                justify-content: space-around;
                margin: 50px;
                
                .pieDiv__liIcon--li {
                    list-style-type: none; 
                    a {
                        text-decoration: none;
                        font-size: 2rem;
                        color: $tercer-color;
                    }
                }
            }
        }
    }
    @media (max-width:812px) and (min-width:300px) {
        height: auto;
        .pieDiv {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2,50%);
            grid-template-rows: 100px, 50px, 100px, 50px;
            grid-template-areas: 
            "imgP imgP"
            "titleP titleP"
            "liHp liHp"
            "liIc liIc";

            .pieDiv__img {
                grid-area: imgP;
                img {
                    margin: 0px;
                }
            }
            .pieDiv__title {
                grid-area: titleP;
                p {
                    font-size: 20px;
                }
            }
            .pieDiv__liHorarios {
                grid-area: liHp;
            }
            .pieDiv__liIcon {
                grid-area: liIc;

                ul {
                    margin: 10px;
                    margin-right: 50px;
                }
            }
        }
    }
}